<div id="sidemenu" style="background: var(--sidemenubg); position: fixed; width:var(--sidemenuwidth); height:100%; margin-top:-13px; border-right:1px solid rgb(240,240,240)">
  
  
  <div style="display: block;height:12px"></div>

  <div *ngFor="let item of items">
    <div *ngIf="item.name==currpage">
      <div (click)="link(item.name, currsession)" id="currentmenuitem" style="">
        <div id="gapicontext" style="">
          <div class="{{item.iconcurr}}" style="font-size: 19px;"></div>
            <div style="padding-top: 2px;">
              {{item.label}}
            </div>
          </div>
      </div>
    </div>

    <div *ngIf="item.name!=currpage">
      <div (click)="link(item.name, currsession)" id="menuitem" style="">
        <div id="gapicontext" style="">
          <div class="{{item.icon}}" style="font-size: 19px;"></div>
            <div style="padding-top: 2px;">
              {{item.label}}
            </div>
          </div>
      </div>
    </div>
    
  </div>

  <!--
    <div id="currentmenuitem" style="">
    <div id="gapicontext" style="">
      <div class="bx bx-list-plus" style="font-size: 19px; color:transparent"></div>
        <div style="padding-top: 2px;">
          # Real-Time
        </div>
      </div>
  </div>

  <div id="menuitem" style="">
    <div id="gapicontext" style="">
      <div class="bx bx-list-plus" style="font-size: 19px; color:transparent"></div>
        <div style="padding-top: 2px;">
          # FYP 1
        </div>
      </div>
  </div>

  <div id="menuitem" style="">
    <div id="gapicontext" style="">
      <div class="bx bx-list-plus" style="font-size: 19px; color:transparent"></div>
        <div style="padding-top: 2px;">
          # Research Methodology
        </div>
      </div>
  </div>

  <div id="menuitem" style="">
    <div id="gapicontext" style="">
      <div class="bx bx-list-plus" style="font-size: 19px; color:transparent"></div>
        <div style="padding-top: 2px;">
          # ITPM
        </div>
      </div>
  </div>

  <div id="menuitem" style="">
    <div id="gapicontext" style="">
      <div class="bx bx-list-plus" style="font-size: 19px; color:transparent"></div>
        <div style="padding-top: 2px;">
          # Software Testing
        </div>
      </div>
  </div>
  -->

  

  <!--
    <div *ngFor="let room of rooms" style="">
      <div style="font-size: 15px; font-weight: 600; color: rgb(90,90,90);">lol</div>
    </div>
  -->
  

</div>