<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:44px">
    
    <!--
<div *ngFor="let item of items" style="margin:0 10px 0 10px">
      <ion-tab-button (click)="toHome()" style="--background: black">
        <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
      </ion-tab-button>
    </div>
    -->

    <!--
      <ion-tab-button (click)="toHome()">
      <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toActivity()">
      <div class="bx bx-list-plus" style="font-size: 26px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toSubmitpost()">
      <div id="submiticon" class="bx bx-upload" style="font-size: 25px;color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div class="bx bx-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toBookmark()">
      <div class="bx bx-bookmark" style="font-size: 23px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    -->
  </ion-tab-bar>
    
    
</ion-tabs>