<ion-header>
  <ion-toolbar>
    <ion-title *ngFor="let hik of hiks" text-center>{{hik.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="tertiary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    <iframe src="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/1579881407292.pdf"
    style="width: 100%; height: 100%">
        <p>Your browser does not support iframes.</p>
  </iframe>
  -->
  <ion-list>
    <ion-item-sliding *ngFor="let hik of hiks">
      <ion-item *ngIf="hik.icon == 'images'">
        <img src="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}" width="100%" height="100%"/>
      </ion-item>
      <ion-item *ngIf="hik.icon != 'images'">
        <embed src="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}" width="100%" height="100%"/>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
    
  
 
</ion-content>
