#griditem2{
  grid-template-columns: 244px auto 0;
  //grid-template-columns: auto 70% auto;

  @media (max-width: 576px) {
      grid-template-columns: auto 100% auto;
  }
}

#innercontent{
  padding: 0 14px 0 0;

  @media (max-width: 576px) {
    padding: 0;
  }
}





#menuitem{
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 510;
  clear: both;
  padding: 12px 24px;
  color: rgb(100,100,100);
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  margin-right: 8px;
}
#menuitem:hover{
  background:rgb(247,247,247);
}

#currentmenuitem{
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 700;
  clear: both;
  padding: 12px 24px;
  color: #4b7fda;
  cursor: pointer;
  //background:#e8f0fe;
  background: rgb(246,246,246);
  border-radius: 0 4px 4px 0;
  margin-right: 8px;
}
#currentmenuitem:hover{
  cursor: pointer;
}

#gapicontext{
  display: grid;
  grid-template-columns: 34px auto;
}



#listgrandparent{
  background: white;
}

#listgrandparent:hover{
  background:rgb(244,244,247);
}

#listgrandparent:active{
  background:rgb(241,241,244);
}