<!--
  <ion-content>
  <p>lollololololololololololololololololololololol</p>
  </ion-content>
  <ion-menu side="start" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item id="haha">haha</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>


    

  <!--  our side menu  -->

  <!--
     <ion-menu contentId="menu-content" style="min-width: 210px; max-width: 210px; --background: white">
    <ion-list>

      <ion-item style="--background: white">
        <ion-label>
          <p style="margin-top: 18px;">
            <ion-menu-toggle>
              <ion-icon name="md-close" style="font-size:1.9em; color:rgb(170,170,170)"></ion-icon>
            </ion-menu-toggle>
            
          </p>
          <p style="text-align: center; margin-top: 0px;">
            <ion-menu-toggle>
              <div class="image-cropper" style="width: 74px; height: 74px; display: block; margin: 0 auto;">
                <img class="image" height="74px" width="74px" style="object-fit: cover; display: block; margin: 0 auto;" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
              </div>
          </ion-menu-toggle>
          </p>
          <p *ngFor="let current_user of current_users" style="text-align:center;font-size: 1.05em; font-weight: 700; margin-left: 2px; margin-top:10px; color:black; font-family: 'Nunito Sans', sans-serif">
            {{current_user.current_username}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item (click)="home()" style="--background: white"><i class="fas fa-home" style="margin-left: 4px; font-size:1.1em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em;  font-family: 'Nunito Sans', sans-serif">
          Home
        </span>
      </ion-item>

      <ion-item (click)="folder()" style="--background: white"><i class="fas fa-cloud-upload-alt" style="margin-left: 4px; font-size:1.0em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          My uploads
        </span>
      </ion-item>

      <ion-item (click)="loginform()" style="--background: white;"><i class="fas fa-sign-out-alt" style="margin-left: 6px; font-size:1.2em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px; font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          Sign out
        </span>
      </ion-item>
    </ion-list>
  </ion-menu>
  -->
 

  <!-- the main content -->

    
  
    <!--
      <div *ngIf="!isSelected">
        <input type="file" (change)="selectFileToUpload($event)" style="position: sticky; bottom:0;">
    </div>
    -->




    
    <!--

    -->

    
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="height:42px">
        <ion-tab-button (click)="toAdmin_user()">
          <div class="fas fa-user" style="font-size: 24px;color:rgb(50,50,50) "></div>
        </ion-tab-button>
        <ion-tab-button (click)="toAdmin_doc()">
          <div class="fas fa-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
        </ion-tab-button>
        <ion-tab-button (click)="toAdmin_post()">
          <div class="fas fa-book" style="font-size: 24px;color:rgb(160,160,160)"></div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <!--POPUP FOR CREATING FOLDER-->
    <div *ngIf="popup == true">
      <div id="popupbg" (click)="closepopupbg()" style="display:grid; grid-template-rows: auto 180px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="openpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
            <div style="display: grid; grid-template-columns: auto; height:56px">
              <div style="padding:24px 24px 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: center;">
                New folder
              </div>
              
              <!--
                <div (click)="closepopupbtn()" style="padding:20px 10px 0 10px; height:100%; cursor: pointer">
                <div class="fas fa-times" style="font-size: 16px;color:rgb(150,150,150)"></div>
              </div>
              -->
              
            </div>
            
            <div style="padding: 8px 32px 0 32px;">
              <ion-item style="--background: rgb(240,246,255)">
                <ion-input [(ngModel)]="popuprename" #rename type="text" style="text-align: left;"></ion-input>
              </ion-item>
            </div>
            
            <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:11px 24px 0 24px; font-size: 14px;font-weight: 500;">
              <div></div>
              <div id="clickbtn" (click)="closepopupbtn()" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
              <div id="clickbtn" (click)="addetc()" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Create</div>
            </div>
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>
    
    <!--POPUP FOR UPDATING, DELETING FOLDER-->
    <div *ngIf="UDpopup == true">
      <div id="popupbg" (click)="UDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="UDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
            <div style="display: grid; grid-template-columns: auto; height:50px">
              <div style="border-bottom:1px solid rgb(240,240,240); clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
                <div class="fas fa-folder" style="font-size: 16px; margin-right: 14px; float:left; color:rgb(90,90,90)"></div>
                <div style="padding-bottom: 18px;">{{selectedname}}</div>
                
              </div>

              <div style="clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
                <div class="far fa-edit" style="cursor:pointer; font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
                <div>Rename</div>
                
              </div>

              <div (click)="showdeleteid()" style="cursor:pointer;clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
                <div class="far fa-trash-alt" style=" font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
                <div>Remove</div>
              </div>
            </div>
            
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>

    <!--POPUP FOR CONFIRM DELETING FOLDER-->
    <div *ngIf="CDpopup == true">
      <div id="popupbg" (click)="CDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="CDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px;">
            <div style="display: grid; grid-template-columns: auto; height:50px">
              <div style="clear: both; padding:24px 0 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
                <div style="padding-bottom: 18px;">Remove folder</div>
              </div>

              <div style="clear: both; padding:12px 0 0 24px; font-size: 12px;color:rgb(150,150,150); font-weight: 500; text-align: left;">
                <div style="padding-bottom: 18px;">{{selectedname}} will be removed to the bin</div>
              </div>


              <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:6px 12px 0 24px; font-size: 14px;font-weight: 500;">
                <div></div>
                <div (click)="CDclosepopupbtn()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
                <div (click)="delete()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Remove</div>
              </div>

                
            </div>
            
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>

    <!--
      <ion-header no-border>
      <ion-toolbar id="toolbarborder">
        <div id="searchnav" style="display: grid;">
      
          <div>
            <div id="headertitle" style="padding: 7px 0 0 26px">
              <div class="fas fa-book" style="font-size: 16px; color:rgb(29, 161, 242); padding-top: 3px;"></div>
              <ion-title class="ion-text-left" style="color: rgb(29, 161, 242); font-weight: 800px; font-size: 18px;">Edushare</ion-title>
            </div>
            
          </div>
    
          <div>
            <div style="background: rgb(246,246,246); border-radius: 6px; min-width:284px; max-width:760px; height:100%; display:block; margin:0 auto 0 0; display:block;">
              <div style="display: grid; grid-template-columns: 26px auto; padding: 0px 0 0 16px;">
              
                <div class="fas fa-search" style="font-size: 14px; color:rgb(180,180,180); padding-top: 9px;"></div>
                <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:13px;padding-top: 8px; color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search for posts, documents, streams etc">
                
                
              </div>
              
            </div>
          </div>
    
          <div>
            <ion-buttons slot="primary" (click)="login()">
              <ion-button color="green">
                <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
              </ion-button>
            </ion-buttons>
          </div>
    
        </div>
      </ion-toolbar>
     
      
    </ion-header>
    -->
    
    <ion-header no-border>
      <ion-toolbar id="toolbarborder" style="--background: var(--toolbarbg); --min-height:var(--toolbarheight)">
        <div id="searchnav" style="display: grid;">
          
          
          <div>
            <div id="headertitle" style="padding: 7px 0 0 26px; color:var(--logocolor);">
              
              <div>
                <img src="assets/svg/edusharelogo.svg" style="height:22px; margin-bottom: 0;" />
              </div>
              <!--
                <div class="fas fa-book" style="font-size: 16px; padding-top: 3px;"></div>
              <ion-title class="ion-text-left" style="font-weight: 800; font-size: 18px;">Edushare</ion-title>
              -->
              
            </div>
    
            <ion-buttons id="searchnavmsg" slot="primary" (click)="toSubmitpost()">
              <ion-button color="rgb(240,240,240)">
                <div class="bx bx-plus" style="font-size: 19px; "></div>
              </ion-button>
            </ion-buttons>
          </div>
    
          <div>
            <div style="background: var(--searchbg); border-radius: 6px; min-width:284px; max-width:760px; height:100%; display:block; margin:0 auto 0 0; display:block;">
              <div style="display: grid; grid-template-columns: 26px auto; padding: 0px 0 0 16px;">
                
                <div class="fas fa-search" style="font-size: 14px; color:var(--searchph); padding-top: 9px;"></div>
                <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:13px;padding-top: 8px;color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search for posts, documents, streams etc">
                
              </div>
              
            </div>
          </div>
    
          <div>
            <ion-buttons slot="primary" (click)="login()">
              <ion-button color="green">
                <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
              </ion-button>
            </ion-buttons>
          </div>
    
        </div>
      </ion-toolbar>
    
      </ion-header>

    <ion-content style="--background:rgb(246,246,246);--padding-top: 4px; --padding:10px">
    
      <div id="innercontent" style="margin-top:9px">
        <div id="sidemenu" style="background: white; position: fixed; width:230px; height:100%; margin-top:-13px; border-right:1px solid rgb(240,240,240)">
    
              <div (click)="toAdmin_user()" id="currentmenuitem" style="">
                <div id="gapicontext" style="">
                  <div class="bx bx-user" style="font-size: 19px;"></div>
                    <div style="padding-top: 2px;">
                        Users
                    </div>
                </div>
              </div>
    
              <div (click)="toAdmin_post()" id="menuitem" style="">
                <div id="gapicontext" style="color: rgb(120,120,120);">
                  <div class="bx bx-outline" style="font-size: 19px;"></div>
                    <div style="padding-top: 2px; font-weight: 500;">
                        Threads
                    </div>
                </div>
              </div>
    
              <div (click)="toAdmin_doc()" id="menuitem" style="">
                <div id="gapicontext" style="color: rgb(120,120,120);">
                  <div class="bx bx-dock-left" style="font-size: 19px;"></div>
                    <div style="padding-top: 2px; font-weight: 500;">
                        Files
                    </div>
                </div>
              </div>
    
        </div>

        <div id="griditem2" style="display:grid;">
          <div></div>
          <div>
            <div>
              

              <div style="font-size: 15px; color: rgb(90,90,90); font-weight: 600; padding: 0 0 6px 12px; margin-bottom: 14px;">
                <div style="display: grid; grid-template-rows: auto auto;"></div>
                  <div style="font-size: 20px;font-weight: 300;">Overview</div>
                  <div style="font-size: 14px; font-weight: 300;">Wednesday, 29 April</div>
              </div>

              <div style="height: 1px; background: rgb(234,234,234);"></div>

              <div style="display: grid; grid-template-columns: 46px 1fr 46px 1fr 46px 1fr; margin: 20px 0; padding:6px; color:rgb(90,90,90);font-weight:500; font-size: 14px; border-radius:8px;">
                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">Total users registered</div>
                  </div>
                </div>

                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">New daily users</div>
                  </div>
                </div>

                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">Monthly active users</div>
                  </div>
                </div>
              </div>

              <div style="height: 1px; background: rgb(228,228,228); margin: 0 0 22px 0"></div>

              <div id="listgrandparent" style="display: grid; grid-template-columns: 68px 90px auto 100px; padding: 10px 0 0 0; border-radius: 4px 4px 0 0;">
                <div style="font-size: 17px; color: rgb(90,90,90); font-weight: 600; padding: 10px 0 6px 20px">
                  Users
                </div>

                <div style="font-size: 13px; color: rgb(120,120,120); font-weight: 400; padding: 13px 0 6px 16px">
                  All users
                </div>

                <div></div>

                <div (click)="openpopup()" style="display:none; cursor:pointer; font-size: 12px; color: rgb(90,90,90); font-weight: 500; padding: 16px 0 6px 12px;">
                  NEW USER
                </div>
              </div>
              

              <div id="listgrandparent">
                <div id="collapselist" style="display: grid; border-bottom:1px solid rgb(242,242,242); padding:6px 0px 12px 0px; color:rgb(90,90,90);font-weight:600; font-size: 13px;">
                  <div style="padding: 10px 0 0px 20px; min-width: 150px;">Username</div>
                  <div style="padding: 10px 0 0px 0px;min-width: 60px">Role</div>
                  <div style="padding: 10px 0 0px 0px; min-width: 70px;">Status</div>
                  
                  <div id="hiddencolumn" style="padding: 10px 0 0px 0px; min-width: 90px;">Joined in</div>
                  <div style="padding: 10px 0 0px 0px; min-width: 50px;"></div>
                </div>
              </div>

              

              <div  id="listgrandparent" *ngFor="let item of users" style="border-bottom:1px solid rgb(242,242,242); display:block; padding: 0 0 0 0px">
                <div style="">
                  <div id="collapselist" style="display: grid; ">
                    <!--
                      <div style="padding: 10px 0 14px 14px;">
                      <div style="width:100%; height:28px; border-radius: 8px; margin-top: 7px;">   
                      </div>
                    </div>
                    -->

                    <div style="padding: 10px 0 14px 10px; min-width: 150px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px;padding-left: 10px;clear:both; margin-bottom: 4px;">
                        {{item.username_users}}
                      </div>
                    </div>

                    <div style="padding: 10px 0 14px 0;text-align: left; min-width: 60px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px;clear:both; margin-bottom: 4px;">
                        {{item.role_users}}
                      </div>
                    </div>

                    <div style="padding: 10px 0 14px 0; text-align: left; min-width: 70px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px; clear:both; margin-bottom: 4px;">
                        {{item.status_users}}
                      </div>
                    </div>

                    <div id="hiddencolumn" style="padding: 10px 0 14px 0; text-align: left; min-width: 90px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px; clear:both; margin-bottom: 4px;">
                        {{item.dateregistered_users}}
                      </div>
                    </div>

                    
                    
                    <div *ngIf="item.status_users=='Inactive'" (click)="ActivateUser(item.id_users)" style="font-size:10px;margin-left:-40px; cursor:pointer; min-width: 50px;">
                      <div style="display: grid; grid-template-rows: auto auto auto; height:100%">
                        <div></div>
                        <div style="margin:0 auto; display: block;">
                          ACTIVATE
                          <!--
                                                      <div class='bx bx-dots-horizontal-rounded' style="color:rgb(160,160,160); font-size: 20px"></div>

                          -->
                        </div>
                        <div></div>
                      </div>
                    </div>

                    <div *ngIf="item.status_users=='Active'" (click)="DeactivateUser(item.id_users)" style="font-size: 10px; margin-left:-40px;cursor:pointer; min-width: 50px;">
                      <div style="display: grid; grid-template-rows: auto auto auto; height:100%">
                        <div></div>
                        <div style="margin:0 auto; display: block;">
                          DEACTIVATE
                          <!--
                                                      <div class='bx bx-dots-horizontal-rounded' style="color:rgb(160,160,160); font-size: 20px"></div>

                          -->
                        </div>
                        <div></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              
              <div style="display:block; height:40px"></div>
              
            </div>
          </div>
          <div></div>
        </div>

       
        
      </div>
    </ion-content>
