<!--
  <ion-content>
  <p>lollololololololololololololololololololololol</p>
  </ion-content>
  <ion-menu side="start" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item id="haha">haha</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
</head>


    

  <!--  our side menu  -->

  <!--
     <ion-menu contentId="menu-content" style="min-width: 210px; max-width: 210px; --background: white">
    <ion-list>

      <ion-item style="--background: white">
        <ion-label>
          <p style="margin-top: 18px;">
            <ion-menu-toggle>
              <ion-icon name="md-close" style="font-size:1.9em; color:rgb(170,170,170)"></ion-icon>
            </ion-menu-toggle>
            
          </p>
          <p style="text-align: center; margin-top: 0px;">
            <ion-menu-toggle>
              <div class="image-cropper" style="width: 74px; height: 74px; display: block; margin: 0 auto;">
                <img class="image" height="74px" width="74px" style="object-fit: cover; display: block; margin: 0 auto;" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
              </div>
          </ion-menu-toggle>
          </p>
          <p *ngFor="let current_user of current_users" style="text-align:center;font-size: 1.05em; font-weight: 700; margin-left: 2px; margin-top:10px; color:black; font-family: 'Nunito Sans', sans-serif">
            {{current_user.current_username}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item (click)="home()" style="--background: white"><i class="fas fa-home" style="margin-left: 4px; font-size:1.1em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em;  font-family: 'Nunito Sans', sans-serif">
          Home
        </span>
      </ion-item>

      <ion-item (click)="folder()" style="--background: white"><i class="fas fa-cloud-upload-alt" style="margin-left: 4px; font-size:1.0em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          My uploads
        </span>
      </ion-item>

      <ion-item (click)="loginform()" style="--background: white;"><i class="fas fa-sign-out-alt" style="margin-left: 6px; font-size:1.2em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px; font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          Sign out
        </span>
      </ion-item>
    </ion-list>
  </ion-menu>
  -->
 

  <!-- the main content -->

    
  
    <!--
      <div *ngIf="!isSelected">
        <input type="file" (change)="selectFileToUpload($event)" style="position: sticky; bottom:0;">
    </div>
    -->




    
    <!--

    -->

    
    <ion-tabs>
      <ion-tab-bar slot="bottom" style="height:42px">
        <ion-tab-button (click)="toHome()">
          <div class="fas fa-home" style="font-size: 24px; color:rgb(160,160,160)"></div>
        </ion-tab-button>
        <ion-tab-button (click)="toSubmitpost()">
          <div class="fas fa-plus-square" style="font-size: 24px; color:rgb(160,160,160);"></div>
        </ion-tab-button>
        <ion-tab-button (click)="toFolder()">
          <div class="fas fa-folder" style="font-size: 24px;color:rgb(160,160,160);"></div>
        </ion-tab-button>
        <ion-tab-button (click)="toAdmin_user()">
          <div class="fas fa-user" style="font-size: 24px;color:rgb(50,50,50) "></div>
        </ion-tab-button>
        <ion-tab-button (click)="toAdmin_doc()">
          <div class="fas fa-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

    <!--POPUP FOR CREATING FOLDER-->
    <div *ngIf="popup == true">
      <div id="popupbg" (click)="closepopupbg()" style="display:grid; grid-template-rows: auto 180px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="openpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
            <div style="display: grid; grid-template-columns: auto; height:56px">
              <div style="padding:24px 24px 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: center;">
                New folder
              </div>
              
              <!--
                <div (click)="closepopupbtn()" style="padding:20px 10px 0 10px; height:100%; cursor: pointer">
                <div class="fas fa-times" style="font-size: 16px;color:rgb(150,150,150)"></div>
              </div>
              -->
              
            </div>
            
            <div style="padding: 8px 32px 0 32px;">
              <ion-item style="--background: rgb(240,246,255)">
                <ion-input [(ngModel)]="popuprename" #rename type="text" style="text-align: left;"></ion-input>
              </ion-item>
            </div>
            
            <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:11px 24px 0 24px; font-size: 14px;font-weight: 500;">
              <div></div>
              <div id="clickbtn" (click)="closepopupbtn()" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
              <div id="clickbtn" (click)="addetc()" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Create</div>
            </div>
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>
    
    <!--POPUP FOR UPDATING, DELETING FOLDER-->
    <div *ngIf="UDpopup == true">
      <div id="popupbg" (click)="UDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="UDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
            <div style="display: grid; grid-template-columns: auto; height:50px">
              <div style="border-bottom:1px solid rgb(240,240,240); clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
                <div class="fas fa-folder" style="font-size: 16px; margin-right: 14px; float:left; color:rgb(90,90,90)"></div>
                <div style="padding-bottom: 18px;">{{selectedname}}</div>
                
              </div>

              <div style="clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
                <div class="far fa-edit" style="cursor:pointer; font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
                <div>Rename</div>
                
              </div>

              <div (click)="showdeleteid()" style="cursor:pointer;clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
                <div class="far fa-trash-alt" style=" font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
                <div>Remove</div>
              </div>
            </div>
            
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>

    <!--POPUP FOR CONFIRM DELETING FOLDER-->
    <div *ngIf="CDpopup == true">
      <div id="popupbg" (click)="CDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
      <div></div>

      <div>
        <div id="popupfore" style="display: grid; height: 100%;">
          <div></div>

          <div (click)="CDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px;">
            <div style="display: grid; grid-template-columns: auto; height:50px">
              <div style="clear: both; padding:24px 0 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
                <div style="padding-bottom: 18px;">Remove folder</div>
              </div>

              <div style="clear: both; padding:12px 0 0 24px; font-size: 12px;color:rgb(150,150,150); font-weight: 500; text-align: left;">
                <div style="padding-bottom: 18px;">{{selectedname}} will be removed to the bin</div>
              </div>


              <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:6px 12px 0 24px; font-size: 14px;font-weight: 500;">
                <div></div>
                <div (click)="CDclosepopupbtn()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
                <div (click)="delete()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Remove</div>
              </div>

                
            </div>
            
          </div>

          <div></div>
          
          </div>
        </div>

        <div></div>
      </div>
    </div>

    <ion-header no-border>
      <ion-toolbar id="toolbarborder">
        <div id="searchnav" style="display: grid;">
          
          <div>
            <div id="headertitle" style="padding: 7px 0 0 26px">
              <div class="fas fa-book" style="font-size: 16px; color:rgb(29, 161, 242); padding-top: 3px;"></div>
              <ion-title class="ion-text-left" style="color: rgb(29, 161, 242); font-family: Inter; font-weight: 800px; font-size: 18px;">Edushare</ion-title>
            </div>
            
          </div>
    
          <div>
            <div style="background: rgb(246,246,246); border-radius: 3px; width:284px; height:100%; display:block; margin:0 auto; display:block">
              <div style="display: grid; grid-template-columns: 23px auto; padding: 6px 0 0 16px">
                <!--
                  <div style="font-family: Inter; font-size: 13px; color:rgb(150,150,150)">Search</div>
                -->
                <div class="fas fa-search" style="font-size: 14px; color:rgb(180,180,180); padding-top: 3px;"></div>
                <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:14px; font-family:Inter;color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search">
                
                
              </div>
              
            </div>
          </div>
    
          <div>
            <ion-buttons slot="primary" (click)="login()">
              <ion-button color="green">
                <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
              </ion-button>
            </ion-buttons>
          </div>
    
        </div>
      </ion-toolbar>
      <div id="topnav">
        <div></div>
        <div>
          <div style="display:grid; grid-template-columns: 33.33% 33.33% 33.33%; font-size: 14.5px; text-align: center;margin:11px 0 11px 0; font-weight: 600;">
            <div style="color:rgb(160,160,160);">
              News
            </div>
            <div style="color:rgb(50,50,50);">
              Home
            </div>
            <div style="color:rgb(160,160,160)">
              Popular
            </div>
            </div>
            <div style="display:grid; grid-template-columns: 33.33% 33.33% 33.33%; background: white; height:2px; border-bottom: 1px solid rgb(240,240,240)">
              <div>
              </div>
              <div>
                <div style="background: rgb(29, 161, 242); width:50%; height:100%; margin:0 auto"></div>
              </div>
              <div>
              </div>
            </div>
        </div>
      </div>
      
    </ion-header>


    <ion-content style="font-family: Inter;--background:rgb(246,246,246);--padding-top: 4px; --padding:10px">
    
      <div id="innercontent" style="margin-top:9px">
        <div id="sidemenu" style="background: white; position: fixed; width:230px; height:100%; margin-top:-13px;">

          <div (click)="toHome()" id="menuitem" style="margin-top: 12px;">
            <div id="gapicontext" style="">
                <div class="fas fa-home" style="font-size: 18px"></div>
                  <div style="padding-top: 2px">
                      Home
                  </div>
              </div>
          </div>
  
  
  
  
              <div (click)="toSubmitpost()" id="menuitem" style="">
                  <div id="gapicontext" style="">
                      <div class="fas fa-cloud-upload-alt" style="font-size: 18px"></div>
                      <div style="padding-top: 2px">
                          Uploads
                      </div>
                  </div>
              </div>
   
  
  
              <div (click)="toFolder()" id="menuitem" style="">
                  <div id="gapicontext" style="">
                    <div class="fas fa-folder-open" style="font-size: 18px"></div>
                      <div style="padding-top: 2px">
                          Folders
                      </div>
                  </div>
              </div>

              <div (click)="toAdmin_user()" id="currentmenuitem" style="">
                <div id="gapicontext" style="">
                    <div class="fas fa-user" style="font-size: 18px"></div>
                    <div style="padding-top: 2px">
                        Users
                    </div>
                </div>
              </div>
  
              <div (click)="toAdmin_post()" id="menuitem" style="">
                <div id="gapicontext" style="">
                    <div class="fas fa-align-center" style="font-size: 18px"></div>
                    <div style="padding-top: 2px">
                        Threads
                    </div>
                </div>
              </div>

              <div (click)="toAdmin_doc()" id="menuitem" style="">
                <div id="gapicontext" style="">
                    <div class="fas fa-folder" style="font-size: 18px"></div>
                    <div style="padding-top: 2px">
                        Files
                    </div>
                </div>
              </div>

              <div (click)="toStream()" id="menuitem" style="">
                <div id="gapicontext" style="">
                    <div class="fas fa-record-vinyl" style="font-size: 18px"></div>
                    <div style="padding-top: 2px">
                        Streams
                    </div>
                </div>
              </div>

                <!--
                  <div (click)="toMessenger()" id="menuitem" style="">
                    <div id="gapicontext" style="">
                        <div class="fas fa-comment-alt" style="font-size: 17px; padding-left: 1px;"></div>
                        <div style="padding-top: 0px">
                            Messenger
                        </div>
                    </div>
                </div>
                -->
                
    
        </div>
        <div id="griditem2" style="display:grid;">
          <div></div>
          <div>
            <div>
              <!--
                <ion-list>
                <ion-item-sliding (click)="showFolder(folder.folderid)" *ngFor="let folder of folders">
                  <ion-item>
                    
                    <img src="assets/svg/svg_icons/zip_color.svg" style="height: 22px; margin: 0 12px 0 4px;" />
                    <ion-label  style="font-family: 'Nunito Sans', sans-serif;">

                      <p style="font-size: 15px;color:black; margin:0; padding:0; ">
                        {{folder.foldername}}
                      </p>
                      <p style="font-size: 12px; color:rgb(100,100,100); margin:0; padding:0;">
                        30 Jan 2020
                      </p>
                      
                    </ion-label>
                  
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
              -->

              <!--
                <ion-button (click)="deletefolder(1)">Delete 1 - Ubiquitous</ion-button>
              <div>
                {{deletelist}}
              </div>
              -->
              

              <!--
                <div style="display: grid; grid-template-columns: 90px auto; font-family: Inter; height:100px; padding: 0 12px 0 12px; margin: 0 0 14px 0">
                <div style="width:100%; height:90px; background:lightblue; border-radius: 100%;">
                </div>
                
                <div style="display: grid; grid-template-columns: 130px auto 100px; height:40px;">
                  <div style="height:40px;text-align:left;font-size: 15px; color: rgb(90,90,90); font-weight: 600; padding: 10px 0 6px 0px; margin-left:12px">
                    hafizshamsuls
                  </div>

                  <div></div>

                  <div style="padding: 4px">
                    <div style="border:1.2px solid rgb(120,120,120);height:30px; border-radius: 20px; text-align:center;font-size: 11px; color: rgb(90,90,90); font-weight: 500; padding: 6px 0px 6px 3px">
                      SUBSCRIBE
                    </div>
                  </div>
                </div>
              </div>
              -->
              

              <div style="font-family: Inter; font-size: 15px; color: rgb(90,90,90); font-weight: 600; padding: 0 0 6px 12px; margin-bottom: 14px;">
                <div style="display: grid; grid-template-rows: auto auto;"></div>
                  <div style="font-size: 20px;font-weight: 300;">Overview</div>
                  <div style="font-size: 14px; font-weight: 300;">Wednesday, 29 April</div>
              </div>

              <div style="height: 1px; background: rgb(234,234,234);"></div>

              <div style="display: grid; grid-template-columns: 46px 1fr 46px 1fr 46px 1fr; margin: 20px 0; font-family:Inter; padding:6px; color:rgb(90,90,90);font-weight:500; font-size: 14px; border-radius:8px;">
                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">Total users registered</div>
                  </div>
                </div>

                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">New daily users</div>
                  </div>
                </div>

                <div style="background: rgb(215, 234, 240); border-radius: 8px; margin:0 2px; text-align: center;">
                  <div style="display: grid; grid-template-rows: auto 24px auto; height: 100%;">
                    <div></div>
                    <div>
                      <div class="fas fa-users" style="font-size: 24px;color:rgb(143, 213, 235);"></div>
                    </div>
                    <div></div>
                  </div>
                </div>
                
                <div style="margin:0 8px">
                  <div style="display: grid; grid-template-rows: auto auto;">
                    <div style="font-size: 24px; font-weight: 300;">12</div>
                    <div style="font-size: 13px;color: rgb(120,120,120);font-weight: 400;">Monthly active users</div>
                  </div>
                </div>
              </div>

              <div style="height: 1px; background: rgb(228,228,228); margin: 0 0 22px 0"></div>

              <div id="listgrandparent" style="display: grid; grid-template-columns: 68px 90px auto 100px; padding: 10px 0 0 0; font-family: Inter;border-radius: 4px 4px 0 0;">
                <div style="font-size: 17px; color: rgb(90,90,90); font-weight: 600; padding: 10px 0 6px 20px">
                  Users
                </div>

                <div style="font-size: 13px; color: rgb(120,120,120); font-weight: 400; padding: 13px 0 6px 16px">
                  All users
                </div>

                <div></div>

                <div (click)="openpopup()" style="cursor:pointer; font-size: 12px; color: rgb(90,90,90); font-weight: 500; padding: 16px 0 6px 12px;">
                  NEW USER
                </div>
              </div>
              

              <div id="listgrandparent">
                <div id="collapselist" style="display: grid; border-bottom:1px solid rgb(242,242,242);  font-family:Inter; padding:6px 0px 12px 0px; color:rgb(90,90,90);font-weight:600; font-size: 13px;">
                  <div style="padding: 10px 0 0px 20px; min-width: 150px;">Username</div>
                  <div style="padding: 10px 0 0px 0px;min-width: 60px">Role</div>
                  <div style="padding: 10px 0 0px 0px; min-width: 70px;">Status</div>
                  
                  <div id="hiddencolumn" style="padding: 10px 0 0px 0px; min-width: 90px;">Joined in</div>
                  <div style="padding: 10px 0 0px 0px; min-width: 50px;"></div>
                </div>
              </div>

              

              <div  id="listgrandparent" *ngFor="let item of users" style="font-family:Inter; border-bottom:1px solid rgb(242,242,242); display:block; padding: 0 0 0 0px">
                <div style="">
                  <div id="collapselist" style="display: grid; ">
                    <!--
                      <div style="padding: 10px 0 14px 14px;">
                      <div style="width:100%; height:28px; border-radius: 8px; margin-top: 7px;">   
                      </div>
                    </div>
                    -->

                    <div style="padding: 10px 0 14px 10px; min-width: 150px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px;padding-left: 10px;clear:both; margin-bottom: 4px;">
                        {{item.username_users}}
                      </div>
                    </div>

                    <div style="padding: 10px 0 14px 0;text-align: left; min-width: 60px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px;clear:both; margin-bottom: 4px;">
                        {{item.role_users}}
                      </div>
                    </div>

                    <div style="padding: 10px 0 14px 0; text-align: left; min-width: 70px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px; clear:both; margin-bottom: 4px;">
                        {{item.status_users}}
                      </div>
                    </div>

                    <div id="hiddencolumn" style="padding: 10px 0 14px 0; text-align: left; min-width: 90px;">
                      <div style="color:rgb(60,60,60);font-weight:400; font-size: 14px; clear:both; margin-bottom: 4px;">
                        {{item.dateregistered_users}}
                      </div>
                    </div>

                    

                    <div style="cursor:pointer; min-width: 50px;">
                      <div style="display: grid; grid-template-rows: auto auto auto; height:100%">
                        <div></div>
                        <div style="margin:0 auto; display: block;">
                          <div class='bx bx-dots-horizontal-rounded' style="color:rgb(160,160,160); font-size: 20px"></div>
                        </div>
                        <div></div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              

              <!--
                <div>
                <ng-template #recursiveList let-listoso>
                  <div *ngFor="let item of listoso">
                    <div id="listitem2" style="padding:10px 20px;  display:block; margin-left: auto; border-bottom:1px solid rgb(236,236,236);" (click)="toThread(item.commentid)">
                      <ion-label style="font-family: 'Inter var', sans-serif;">
                        <div style="font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 500; float:left; margin-right:4px; margin-bottom: 4px;">
                          {{item.folderfilename}}
                        </div>    
                      </ion-label >
                      </div>
                      
                      <div *ngIf="item.children.length > 0" style="width: 92%;  display:block; margin-left: auto; "> 
                        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                      </div>
                    </div>
                  </ng-template>
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: listoso }"></ng-container>
              </div>

              -->
              



            </div>
          </div>
          <div></div>
        </div>

        <!--
          <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
        <ion-fab-button style="--background:rgb(37, 156, 117); display:block; height:68px; width:68px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 64px;">
          <label for="input">
            <ion-icon style="padding-top:3px;font-size:28px" name="add"></ion-icon>
          </label>
          <input id="input" type="file" class="hideInput" (change)="selectFileToUpload($event)">
        </ion-fab-button>
      </ion-fab>
        -->
        

        
      </div>
    </ion-content>




<!--
  <ion-header>
  <ion-toolbar>
    <ion-title text-center>Stations</ion-title>
    <ion-buttons slot="primary" (click)="addCustomer()">
      <ion-button color="tertiary">
        <ion-icon text-center name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
      <ion-item>
        <ion-label>{{customer.name_customer}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
      
        <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" (click)="toHome()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->