
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:44px">
    <ion-tab-button (click)="toRoom()">
      <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toHome()">
      <div class="bx bx-message-square-dots" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toActivity()">
      <div class="bx bx-list-plus" style="font-size: 26px;color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div id="foldericon" class="bx bx-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toBookmark()">
      <div class="bx bx-bookmark" style="font-size: 23px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--POPUP FOR CREATING FOLDER-->
<div *ngIf="popup == true">
  <div id="popupbg" (click)="closepopupbg()" style="display:grid; grid-template-rows: auto 180px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="openpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
        <div style="display: grid; grid-template-columns: auto; height:56px">
          <div style="padding:24px 24px 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: center;">
            New folder
          </div>
          
        </div>
        
        <div style="padding: 8px 32px 0 32px;">
          <ion-item style="--background: rgb(240,246,255)">
            <ion-input [(ngModel)]="popuprename" #rename type="text" style="text-align: left;"></ion-input>
          </ion-item>
        </div>
        
        <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:11px 24px 0 24px; font-size: 14px;font-weight: 500;">
          <div></div>
          <div id="clickbtn" (click)="closepopupbtn()" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
          <div id="clickbtn" (click)="addetc()" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Create</div>
        </div>
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>

<!--POPUP FOR UPDATING, DELETING FOLDER-->
<div *ngIf="UDpopup == true">
  <div id="popupbg" (click)="UDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="UDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
        <div style="display: grid; grid-template-columns: auto; height:50px">
          <div style="border-bottom:1px solid rgb(240,240,240); clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
            <div class="fas fa-folder" style="font-size: 16px; margin-right: 14px; float:left; color:rgb(90,90,90)"></div>
            <div style="padding-bottom: 18px;">{{selectedname}}</div>
            
          </div>

          <div style="clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
            <div class="far fa-edit" style="cursor:pointer; font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
            <div>Rename</div>
            
          </div>

          <div (click)="showdeleteid()" style="cursor:pointer;clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
            <div class="far fa-trash-alt" style=" font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
            <div>Remove Task</div>
          </div>
        </div>
        
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>

<!--POPUP FOR CONFIRM DELETING FOLDER-->
<div *ngIf="CDpopup == true">
  <div id="popupbg" (click)="CDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="CDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px;">
        <div style="display: grid; grid-template-columns: auto; height:50px">
          <div style="clear: both; padding:24px 0 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
            <div style="padding-bottom: 18px;">Remove Task</div>
          </div>

          <div style="clear: both; padding:12px 0 0 24px; font-size: 12px;color:rgb(150,150,150); font-weight: 500; text-align: left;">
            <div style="padding-bottom: 18px;">{{selectedname}} will be removed from Bookmarks</div>
          </div>


          <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:6px 12px 0 24px; font-size: 14px;font-weight: 500;">
            <div></div>
            <div (click)="CDclosepopupbtn()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
            <div (click)="deletetask()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Remove</div>
          </div>

            
        </div>
        
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>


<!--POPUP FOR FILE PREVIEW-->
<div *ngIf="PDFpopup">
  <div id="PDFpopupbg" (click)="PDFclosepopupbg()" style="display:grid; background: rgba(0,0,0,0.8); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
    <div></div>

    <div>
      <iframe [src]="src | safe"
      style="width:100%; height:100%; z-index: 9999; border:none;"></iframe>
    </div>

    <div></div>
  </div>
</div>


  
    <ion-header no-border>
      <ion-toolbar id="toolbarborder" style="--background: var(--toolbarbg); --min-height:var(--toolbarheight)">
        <div id="searchnav" style="display: grid;">
          
          <div>
            <div id="headertitle" style="padding: 7px 0 0 26px; color:var(--logocolor)">

              <div>
                <img src="assets/svg/edusharelogo.svg" style="height:22px; margin-bottom: 0;" />
              </div>
              <!--
                <div class="fas fa-book" style="font-size: 16px; padding-top: 3px;"></div>
              <ion-title class="ion-text-left" style="font-weight: 800px; font-size: 18px;">Edushare</ion-title>
              -->
              
            </div>
            
          </div>
    
          <div>
            <div style="background:  var(--searchbg); border-radius: 6px; min-width:284px; max-width:760px; height:100%; display:block; margin:0 auto 0 0; display:block;">
              <div style="display: grid; grid-template-columns: 26px auto; padding: 0px 0 0 16px;">
    
                <div class="fas fa-search" style="font-size: 14px; color:rgb(180,180,180); padding-top: 9px;"></div>
                <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:13px;padding-top: 8px; color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search for posts, documents, streams etc">
                
                
              </div>
              
            </div>
          </div>
    
        
    
          <div>
            <ion-buttons slot="primary" (click)="login()">
              <ion-button color="green">
                <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
              </ion-button>
            </ion-buttons>
          </div>
    
        </div>
      </ion-toolbar>
     
      
    </ion-header>
  
    



    

    <ion-content style="--background:var(--contentbg);--padding-top: 4px; --padding:10px">


      <div id="innercontent" style="margin-top: 9px;">
  
        <app-ahello [currpage]="active" [currsession]="session"></app-ahello>

        <div id="griditem2" style="display:grid;">
          <div></div>
          <div>
            <div>
              
          
              
              <div style="display: grid; grid-template-columns: 140px auto 100px 100px">
                <div style="font-size: 13px; color: rgb(90,90,90); font-weight: 500; padding: 0 0 10px 18px">
                  Tasks
                </div>

                <div></div>

                <div>
                  
                </div>

                <div>
                 
                </div>
                
              </div>

             
              <div style="border-radius: 5px 5px 0 0;">
                
              
                <div style="display: grid; grid-template-columns: auto 30px;padding: 0 26px 0 18px">
                  <div>
                    <ion-input [(ngModel)]="task_name" placeholder="Task name"></ion-input>
                  </div>
                  <div>
                    <ion-button (click)="addtask()">+</ion-button>
                  </div>
                </div>

                <div id="listgrandparent" *ngFor="let item of listosotask" style="margin:0px auto; display:block;  background: white; border-radius: 8px;">
    
                  <div style="cursor:pointer; display: grid; grid-template-columns: 24px auto 60px; height:50px; align-items: center;padding-left: 10px; margin: 6px 0; ">
                    
                    <!--
                      <div style="display: grid; align-items: center; text-align: center; background:#6d91fe; width:100%; height:34px"> 
                    </div>
                    -->
                    

                    <div class='bx bxs-checkbox-checked' style="color:#2de2c3; font-size: 32px;"></div>


                    <div style="color:rgb(60,60,60);font-weight:400; font-size: 12.4px;padding-left: 16px;clear:both;">
                      {{item.taskname}}
                    </div>

                    <div (click)="showid(item.taskid, item.taskname)" style="text-align:center;display: grid; align-items: center; cursor: pointer;">
                      <div class='bx bx-dots-horizontal-rounded' style="color:rgb(160,160,160); font-size: 20px;"></div>
                    </div>
                  </div>

                </div>


                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: listoso }"></ng-container>

              </div>

              
              <!--
                <input id="datepicker" [(ngModel)]="datepicker" type="text">
              -->
              

            </div>
          </div>
          <div></div>
        </div>
      </div>
      

  
    </ion-content>


 