
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
</head>

<ion-header>

</ion-header>

<ion-content id="ion-content-login" scrollY="false">
  <div id="div-login">
    <h1 style="font-weight: 800; font-size: 1.2em;  word-wrap: break-word; margin: 1.8em 1.2em 0 0.8em; color: rgb(51,175,133);">Edushare</h1>
    <h1 style="font-weight: 800; font-size: 1.6em;  word-wrap: break-word; margin: 0.8em 1.2em 0 1.2em">Welcome, learners!</h1>
    <p style="font-weight: 400; font-size: 1.1em; word-wrap: break-word; margin: 1.3em 1.1em">Online community for teachers and students to learn, share and explore educational contents </p>
    <div class="item">
      <img id="img-login" src="assets/svg/log.svg" />
      <ion-button  id="btnGetStarted" (click)="registerform()" style="text-transform: none">Get Started</ion-button>
      <ion-button id="btnLogin" (click)="loginform()" color="none" style="text-transform: none">Already registered? Sign in</ion-button>
    </div>
  </div>
  <div>
    
  </div>
</ion-content>