ion-item:active{
    --background: rgb(230,230,230);
}

input[type="file"] {
    background: rgba(230, 230, 230,1);
    padding: 1em;
}


* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
.image-cropper {
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 4px;
}

.image {
    display: inline;
    margin: 0 auto;
}

.hideInput{
  position: absolute;
  bottom: -100000000px;
}

#griditem2{
  grid-template-columns: 244px auto 0;
  //grid-template-columns: auto 70% auto;

  @media (max-width: 576px) {
      grid-template-columns: auto 100% auto;
  }
}

#sidemenu{
  @media (max-width: 576px) {
    display: none;
  }
}

#innercontent{
  padding: 0 14px 0 0;

  @media (max-width: 576px) {
    padding: 0;
  }
}


#gapicontext{
  display: grid;
  grid-template-columns: 34px auto;
}


#listgrandparent{
  background: white;
  cursor: pointer;
}

#listgrandparent:hover{
  background:rgb(244,244,247);
}

#listgrandparent:active{
  background:rgb(241,241,244);
}





#popupbg {
  -webkit-animation: fadein 200ms;
  -moz-animation: fadein 200ms;
  -ms-animation: fadein 200ms;
  -o-animation: fadein 200ms;
  animation: fadein 200ms;
}

@keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
@-moz-keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
@-webkit-keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
@-ms-keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}
@-o-keyframes fadein {
 from {
   opacity: 0;
 }
 to {
  opacity: 1;
}
}


#popupfore{
  grid-template-columns: auto 400px auto;

  @media (max-width: 576px) {
    grid-template-columns: 20px auto 20px;
  }
}

#PDFpopupbg{
  grid-template-columns: auto 70% auto; 

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 11px;
  color: rgb(90,90,90);
  
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  font-family: 'Inter';

}

.inputfile:focus + label, .inputfile + label:hover {
  //background-color: red;
}

#foldericon {
  /*-webkit-animation: fadein 200ms;
  -moz-animation: fadein 200ms;
  -ms-animation: fadein 200ms;
  -o-animation: fadein 200ms;
  animation: fadein 200ms;
  transition-timing-function: cubic-bezier(.17,.67,.83,.67);*/
}

/*
#toolbarborder{
  border-bottom: 1px solid rgb(240,240,240);
  
  @media (max-width: 576px) {
    border-bottom: none;
  }
}*/

#toolbarborder{
  border-bottom: 1px solid rgb(240,240,240);
  
  @media (max-width: 576px) {
    border-bottom: none;
  }
}

#searchnav{
  grid-template-columns: 278px auto 34px;

    @media (max-width: 576px) {
        grid-template-columns: 34px auto 34px;
    }
}

#headertitle{
  display: grid;
  grid-template-columns: auto;

  @media (max-width: 576px) {
    display: none;
  }
}

#inputsearch{

}
#inputsearch:focus{
  outline: none;
}

#inputsearch::-webkit-input-placeholder {
  font-family: 'Inter';
  font-size: 13px;
  color:var(--searchph);
}

#inputsearch:-ms-input-placeholder {
  font-family: 'Inter';
  font-size: 13px;
  color:var(--searchph);
}

#inputsearch:-moz-placeholder {
  font-family: 'Inter';
  font-size: 13px;
  color:var(--searchph);
}

#inputsearch::-moz-placeholder {
  font-family: 'Inter';
  font-size: 13px;
  color:var(--searchph);
}