<!--
  <ion-content>
  <p>lollololololololololololololololololololololol</p>
  </ion-content>
  <ion-menu side="start" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item id="haha">haha</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:44px">
    <ion-tab-button (click)="toHome()">
      <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toActivity()">
      <div class="bx bx-list-plus" style="font-size: 26px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toSubmitpost()">
      <div class="bx bx-upload" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div id="foldericon" class="bx bxs-folder" style="font-size: 24px;color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toBookmark()">
      <div class="bx bx-bookmark" style="font-size: 23px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--POPUP FOR CREATING FOLDER-->
<div *ngIf="popup == true">
  <div id="popupbg" (click)="closepopupbg()" style="display:grid; grid-template-rows: auto 180px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="openpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
        <div style="display: grid; grid-template-columns: auto; height:56px">
          <div style="padding:24px 24px 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: center;">
            New folder
          </div>
          
          <!--
            <div (click)="closepopupbtn()" style="padding:20px 10px 0 10px; height:100%; cursor: pointer">
            <div class="fas fa-times" style="font-size: 16px;color:rgb(150,150,150)"></div>
          </div>
          -->
          
        </div>
        
        <div style="padding: 8px 32px 0 32px;">
          <ion-item style="--background: rgb(240,246,255)">
            <ion-input [(ngModel)]="popuprename" #rename type="text" style="text-align: left;"></ion-input>
          </ion-item>
        </div>
        
        <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:11px 24px 0 24px; font-size: 14px;font-weight: 500;">
          <div></div>
          <div id="clickbtn" (click)="closepopupbtn()" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
          <div id="clickbtn" (click)="addetc()" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Create</div>
        </div>
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>

<!--POPUP FOR UPDATING, DELETING FOLDER-->
<div *ngIf="UDpopup == true">
  <div id="popupbg" (click)="UDclosepopupbg()" style="display:grid; grid-template-rows: auto 200px auto; background: rgba(0,0,0,0.5); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="UDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px; box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.3);">
        <div style="display: grid; grid-template-columns: auto; height:50px">
          <div style="border-bottom:1px solid rgb(240,240,240); clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
            <div class="fas fa-folder" style="font-size: 16px; margin-right: 14px; float:left; color:rgb(90,90,90)"></div>
            <div style="padding-bottom: 18px;">{{selectedname}}</div>
            
          </div>

          <div (click)="addtobookmark()" style="cursor:pointer; clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
            <div class="far fa-bookmark" style="font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
            <div>Add to Bookmarks</div>
          </div>

          <div style="cursor:pointer; clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
            <div class="far fa-edit" style="font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
            <div>Rename</div>
          </div>

          <div (click)="showdeleteid()" style="cursor:pointer;clear: both; padding:24px 0 0 24px; font-size: 13px;color:rgb(90,90,90); font-weight: 500; text-align: left;">
            <div class="far fa-trash-alt" style=" font-size: 16px; margin-right: 14px; float:left; width:20px"></div>
            <div>Remove</div>
          </div>
        </div>
        
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>

<!--POPUP FOR CONFIRM DELETING FOLDER-->
<div *ngIf="CDpopup == true">
  <div id="popupbg" (click)="CDclosepopupbg()" style="display:grid; grid-template-rows: auto 170px auto; background: rgba(0,0,0,0); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
  <div></div>

  <div>
    <div id="popupfore" style="display: grid; height: 100%;">
      <div></div>

      <div (click)="CDopenpopup()" style="background: white; width:100%; text-align: center; border-radius: 6px;">
        <div style="display: grid; grid-template-columns: auto; height:50px">
          <div style="clear: both; padding:24px 0 0 24px; font-size: 16px;color:rgb(20,20,20); font-weight: 500; text-align: left;">
            <div style="padding-bottom: 18px;">Remove folder</div>
          </div>

          <div style="clear: both; padding:12px 0 0 24px; font-size: 12px;color:rgb(150,150,150); font-weight: 500; text-align: left;">
            <div style="padding-bottom: 18px;">{{selectedname}} will be removed to the bin</div>
          </div>


          <div style="display: grid; grid-template-columns: auto 100px 100px; height:64px; padding:6px 12px 0 24px; font-size: 14px;font-weight: 500;">
            <div></div>
            <div (click)="CDclosepopupbtn()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px; color:rgb(150,150,150);padding-top: 10px;">Cancel</div>
            <div (click)="delete()" id="clickbtn" style="border-radius:8px;cursor:pointer; margin:3px;margin:3px; color:#2d98da;padding-top: 10px;font-size: 15px;">Remove</div>
          </div>

            
        </div>
        
      </div>

      <div></div>
      
      </div>
    </div>

    <div></div>
  </div>
</div>


<!--POPUP FOR FILE PREVIEW-->
<div *ngIf="PDFpopup">
  <div id="PDFpopupbg" (click)="PDFclosepopupbg()" style="display:grid; background: rgba(0,0,0,0.8); width:100vw; height:100vh; position:fixed; top:0; left:0; z-index: 9998;">
    <div></div>

    <div>
      <iframe [src]="src | safe"
      style="width:100%; height:100%; z-index: 9999; border:none;"></iframe>
    </div>

    <div></div>
  </div>
</div>







    
  <!--  our side menu  -->
  <!--
      <ion-menu contentId="menu-content" style="min-width: 210px; max-width: 210px; --background: white">
    <ion-list>

      <ion-item style="--background: white">
        <ion-label>
          <p style="margin-top: 18px;">
            <ion-menu-toggle>
              <ion-icon name="md-close" style="font-size:1.9em; color:rgb(170,170,170)"></ion-icon>
            </ion-menu-toggle>
            
          </p>
          <p style="text-align: center; margin-top: 0px;">
            <ion-menu-toggle>
              <div class="image-cropper" style="width: 74px; height: 74px; display: block; margin: 0 auto;">
                <img class="image" height="74px" width="74px" style="object-fit: cover; display: block; margin: 0 auto;" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
              </div>
          </ion-menu-toggle>
          </p>
          <p *ngFor="let user of users" style="text-align:center;font-size: 1.05em; font-weight: 700; margin-left: 2px; margin-top:10px; color:black; font-family: 'Nunito Sans', sans-serif">
            {{user.username}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item (click)="home()" style="--background: white"><i class="fas fa-home" style="margin-left: 4px; font-size:1.1em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em;  font-family: 'Nunito Sans', sans-serif">
          Home
        </span>
      </ion-item>

      <ion-item (click)="file()" style="--background: white"><i class="fas fa-cloud-upload-alt" style="margin-left: 4px; font-size:1.0em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          My uploads
        </span>
      </ion-item>

      <ion-item (click)="loginform()" style="--background: white;"><i class="fas fa-sign-out-alt" style="margin-left: 6px; font-size:1.2em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px; font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          Sign out
        </span>
      </ion-item>
    </ion-list>
  </ion-menu>
  -->


  <!-- the main content -->
    
  
    <!--
      <div *ngIf="!isSelected">
        <input type="file" (change)="selectFileToUpload($event)" style="position: sticky; bottom:0;">
    </div>
    -->

    <ion-header no-border>
      <ion-toolbar id="toolbarborder" style=" --min-height:var(--toolbarheight)">

        <ion-buttons slot="start">
          <ion-back-button (click)="toBack()" color="green"></ion-back-button>
        </ion-buttons>

        <ion-title style="color: rgb(37, 156, 117)" text-center>Edushare</ion-title>

        <ion-buttons slot="primary" (click)="addCustomer()">
          <ion-button color="tertiary">
            <ion-icon text-center name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<!--
  <ion-content *ngIf="isSelected" style="--padding-top: 4px; --padding:10px">
      <a (click)="cancel()">Cancel</a>
      <ion-button color="primary" (click)="uploadFile()">Upload</ion-button>
      <img [src]="image" style="height: 60px; width: 60px;">
    </ion-content>
-->
    


    

    <ion-content style="--background:rgb(246,246,246);--padding-top: 4px; --padding:10px">


    
    <!--
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button style="--background:rgb(37, 156, 117); display:block; height:68px; width:68px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 64px;">
        <label for="input">
          <ion-icon style="padding-top:3px;font-size:28px" name="add"></ion-icon>
        </label>
        <input id="input" type="file" class="hideInput" (change)="selectFileToUpload($event)">
      </ion-fab-button>
    </ion-fab>
    -->
      <div id="innercontent" style="margin-top: 9px;">
        <app-ahello [currpage]="active" [currsession]="session"></app-ahello>

        <div id="griditem2" style="display:grid;">
          <div></div>
          <div>
            <div>
              
              
              <!--
                <ion-list>
                <ion-item-sliding (click)="showFile(hik.id)" *ngFor="let hik of hiks">
                  <ion-item>
                    
                    <img src="assets/svg/svg_icons/{{hik.icon}}_color.svg" style="height: 22px; margin: 0 12px 0 4px;" />
                    <ion-label  style="font-family: 'Nunito Sans', sans-serif;">

                      <p style="font-size: 15px;color:black; margin:0; padding:0; ">
                        {{hik.name}}
                      </p>
                      <p style="font-size: 12px; color:rgb(100,100,100); margin:0; padding:0;">
                        30 Jan 2020
                      </p>
                      
                    </ion-label>
                    <a href="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}" download>lol</a>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
              -->
              <!--
                <ion-list>
                <ion-item-sliding (click)="showFile(hik.id)" *ngFor="let hik of hiks">
                  <ion-item>
                    
                    <img src="assets/svg/svg_icons/{{hik.icon}}_color.svg" style="height: 22px; margin: 0 12px 0 4px;" />
                    <ion-label  style="font-family: 'Nunito Sans', sans-serif;">

                      <p style="font-size: 15px;color:black; margin:0; padding:0; ">
                        {{hik.name}}
                      </p>
                      <p style="font-size: 12px; color:rgb(100,100,100); margin:0; padding:0;">
                        30 Jan 2020
                      </p>
                      
                    </ion-label>
                    <a href="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}" download>lol</a>
                  </ion-item>
                </ion-item-sliding>
              </ion-list>
              -->
              

              <!--
                <ion-button (click)="deletefolder(1)">Delete 1 - Ubiquitous</ion-button>
                <div>
                  {{deletelist}}
                </div>
              -->
              
              <div style="display: grid; grid-template-columns: 140px auto 100px 100px;">
                <div style="font-size: 13px; color: rgb(90,90,90); font-weight: 500; padding: 0 0 10px 18px">
                  Recent Docs
                </div>

                <div></div>

                <div>
                  <input name="file" id="file" class="inputfile" type="file" style="border:1px solid black" (change)="selectFileToUpload($event)">
                  <label for="file" for="file">NEW FILE</label>
                </div>

                <div (click)="openpopup()" style="cursor:pointer; font-size: 11px; color: rgb(90,90,90); font-weight: 500; padding: 0 0 6px 12px;">
                  NEW FOLDER
                </div>
              </div>

              
                <div style="display: grid; grid-template-columns: 220px auto; width: 100%; height:46px">
                <div>
                  <div id="uploadbutton">
                    <ion-button color="primary" (click)="uploadFile()" style="float: left; padding-left: 10px;">Upload</ion-button>
                  </div>
                </div>
              </div>
            
              
              
              
              
              <!--
                <img [src]="image" style="height: 60px; width: 60px;">
              -->
              

              

              <div style="background: white; border-radius: 5px 5px 0 0; border:1px solid rgb(240,240,240)">
                <div style="margin:0px auto; display:block;">
                  <div (click)="showFolder(item.folderfileid, item.folderfileicon)" style="display: grid; grid-template-columns: auto 60px; height:40px; align-items: center;padding-left: 14px;cursor:auto">
        
                    <div style="color:rgb(60,60,60);font-weight:500; font-size: 11.2px;padding-left: 5px;clear:both;">
                      Name
                    </div>

                    <div (click)="showid(item.folderfileid, item.folderfilename)" style="text-align:center;display: grid; align-items: center">
                    </div>
                  </div>
                </div>

                
                <div *ngFor="let item of listoso">
                  lol
                </div>

                <div *ngFor="let comment of comments">
                  <div *ngIf="comment.folder_id==r_folderid">
                    <div id="listgrandparent" style="margin:0px auto; display:block; border-top:1px solid rgb(240,240,240);">
    
                      <div (click)="showFolder(comment.folderfileid, comment.folderfileicon, comment.filename)" style="cursor:pointer; display: grid; grid-template-columns: 30px auto 60px; height:50px; align-items: center;padding-left: 14px;">
                        <div style="display: grid; align-items: center; text-align: center;">
                          <div *ngIf="comment.folderfileicon == 'folder'" class="bx bxs-folder" style="font-size: 22px; color: #ffc86b;"></div> 
                          <img *ngIf="comment.folderfileicon != 'folder'" src="assets/svg/svg_icons/pdf_color.svg" style="height: 17px; display:block; margin:0 auto" />
                        </div>
    
                        <div style="color:rgb(60,60,60);font-weight:400; font-size: 12.4px;padding-left: 10px;clear:both;">
                          {{comment.folderfilename}}
                        </div>
    
                        <div (click)="showid(comment.folderfileid, comment.folderfilename)" style="text-align:center;display: grid; align-items: center; cursor: pointer;">
                          <div class='bx bx-dots-horizontal-rounded' style="color:rgb(160,160,160); font-size: 20px;"></div>
                        </div>
                      </div>
    
                    </div>
                  </div>
                  
                </div>


              </div>

              
            </div>
          </div>
          <div></div>
        </div>
      </div>
      

    </ion-content>


 

<!--
  <ion-header>
  <ion-toolbar>
    <ion-title text-center>Stations</ion-title>
    <ion-buttons slot="primary" (click)="addCustomer()">
      <ion-button color="tertiary">
        <ion-icon text-center name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
      <ion-item>
        <ion-label>{{customer.name_customer}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
      
        <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" (click)="toHome()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->