// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  //--ion-color-primary-shade: #3171e0;
  --ion-color-primary-shade: rgb(96, 190, 159);
  --ion-color-primary-tint: rgb(96, 190, 159);
  //--ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}




#ion-content-login{
  //--background: linear-gradient( #a22ffe, #4d51f5);
  //--background: rgb(160,66,249);
  //--background: rgb(29, 161, 242);
  --background: white;

  /*@media (max-width: 576px) {
  --background: rgb(29, 161, 242);
  }*/
}

#div-login{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  color: rgb(136, 136, 136);
  text-align: center;
}

h1{
  color: rgb(62, 62, 62);
}

#img-login{
  height:230px;
  margin-top: 0.5em;
  margin-bottom: 2.5em;
}

#btnGetStarted{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color: white;
  --background: rgb(51,175,133);
  --border-radius: 0.6em;
  height: 54px;
  width: 30%;
  display: block;
  margin: 0 auto 0 auto;

  @media (max-width: 576px) {
    width: 87%;
  }
}

#btnGetStarted:hover{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color: white;
  --background: rgb(96, 190, 159);
  --border-radius: 0.6em;
  height: 54px;
  width: 30%;
  display: block;
  margin: 0 auto 0 auto;

  @media (max-width: 576px) {
    width: 87%;
  }
}

#btnLogin{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color:  rgb(142, 142, 142);
  --background: rgb(255,255,255);
  --border-radius: 0.6em;
  height: 54px;
  width: 30%;
  display: block;
  margin: 10px auto 10px auto;
  --border-color: rgb(62, 62, 62);
  --border-width: 10px solid;
  --box-shadow: none;

  @media (max-width: 576px) {
    width: 87%;
  }

}

#btnLogin:hover{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color:  rgb(102, 102, 102);
  --background: rgb(255,255,255);
  --border-radius: 0.6em;
  height: 54px;
  width: 30%;
  display: block;
  margin: 10px auto 10px auto;
  --border-color: rgb(62, 62, 62);
  --border-width: 10px solid;
  --box-shadow: none;

  @media (max-width: 576px) {
    width: 87%;
  }
}


#btnBack{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color:  rgb(142, 142, 142);
  --background: rgb(255,255,255);
  --border-radius: 0.6em;
  height: 54px;
  --border-color: rgb(62, 62, 62);
  --border-width: 10px solid;
  --box-shadow: none;
  margin: 0px;

  @media (max-width: 576px) {
    margin-left: -8px;
    margin-top: 16px;
  }
}

#btnBack:hover{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  --color:  rgb(102, 102, 102);
  --background: rgb(255,255,255);
  --border-radius: 0.6em;
  height: 54px;
  --border-color: rgb(62, 62, 62);
  --border-width: 10px solid;
  --box-shadow: none;
  margin: 0px;

  @media (max-width: 576px) {
    margin-left: -8px;
    margin-top: 16px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  text-align: center;
}

div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 100vw;
}

.caption {
  display: block;
}

#input-loginform{
  background: rgb(244,246,249);
  border-radius: 0.6em;
  height: 54px;
  width: 30%;
  display: block;
  margin: 12px auto 12px auto;
  text-align: left;
  --padding-top: 17px;
  //--padding-bottom: 17px;
  --padding-start: 21px;
  --padding-end: 21px;
  color: rgb(70,70,70) !important;
  font-weight: 400;

  @media (max-width: 576px) {
    width: 87%;
  }   
}

#input-loginform>::placeholder{
  color: rgb(80,80,80) !important;
  font-weight: 300;
}

#icon-back{
  margin: 18px 0 0 18px;

  @media (max-width: 576px) {
    margin: 28px 0 0 6px;
  }
}

@media (max-width: 576px) {
    #haha {
      visibility:hidden;
    }

    ion-menu {
      visibility:hidden;
    }
  }

  