<ion-header>
  <ion-toolbar>
    <ion-title text-center>Add Station</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" color="tertiary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="name_customer"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="desc_customer"></ion-textarea>
  </ion-item>

  <ion-button expand="block" padding color="primary" *ngIf="!id" (click)="createdProcess()">Submit</ion-button>
  <ion-button expand="block" padding color="primary" *ngIf="id>=1" (click)="updatedProcess()">Update</ion-button>
</ion-content>
