<head>
  <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
</head>

<ion-header>
  <ion-toolbar>
    <ion-title>record-rtc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: grid; grid-template-rows: auto auto;">
    <div>
      <video #video class="video"></video>
    </div>

    <div>
      <ion-button style="float: left;" (click)="startRecording()"> Record </ion-button>
      <ion-button style="float: left;" (click) ="stopRecording()"> Stop</ion-button>
      <ion-button style="float: left;" (click)="download()"> Download</ion-button>
    </div>
  </div>
  
  
</ion-content>
