#listitem{
    width:70%;
    border-radius: 6px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#listitem2{
    width:100%;
    border-radius: 6px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#griditem2{
    grid-template-columns: auto 100% auto;
    //grid-template-columns: auto 70% auto;

    @media (max-width: 576px) {
        grid-template-columns: auto 100% auto;
    }
}

#innercontent{
    padding: 0 14px;
  
    @media (max-width: 576px) {
      padding: 0;
    }
  }

#textcmt{
    font-size: 13px;
    letter-spacing: -0.0025em; 

    @media (max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0em; 
    }
}

#tinydot{
    padding-top: 4.5px;

    @media (max-width: 576px) {
        padding-top: 5.5px;
    }
}

