<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button menuClose color="tertiary">
            <div class="image-cropper">
              <img class="image" style="object-fit: cover;" height="28px" width="28px" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
            </div>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
  
      <ion-buttons slot="start">
        <ion-back-button color="green"></ion-back-button>
      </ion-buttons>
      
      <ion-title style="color: rgb(37, 156, 117)" text-center>Edushare</ion-title>
  
      <ion-buttons slot="primary" (click)="login()">
        <ion-button color="green">
          <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:hsl(24,20%,95%);--padding-top: 4px;  --padding:10px">
  <div style="margin-top:10px">
  <div id="griditem2" style="display:grid;">
    <div>

      <!--
        <div *ngFor="let item of contoh">
        <ng-container *ngIf="item.selected == true;else second">
        <div (click)="changeselection(item.id)" style="cursor:pointer; background:rgb(51, 92, 230); padding:2px 6px 3px 6px; border-radius:4px; margin:0px 2px; float:left; font-size: 16px; letter-spacing: 0.01em; color:rgb(238, 238, 238); font-weight: 400; margin-bottom: 4px;">
          {{item.name}}
        </div>
        </ng-container>
        <ng-template #second>
            <ng-container *ngIf="item.selected == false">
              <div (click)="changeselection(item.id)" style="cursor:pointer; background:rgb(237,237,237); padding:2px 6px 3px 6px; border-radius:4px; margin:0px 2px; float:left; font-size: 16px; letter-spacing: 0.01em; color:rgb(93,93,93); font-weight: 400; margin-bottom: 4px;">
                {{item.name}}
              </div>
            </ng-container>
        </ng-template>
      </div>
      -->

      <!--
        <div>{{totalselected}}</div>
      -->

      <div *ngFor="let item of tags">
        <p>{{item.tagid}}</p>
      </div>
      
      <ion-button (click)="getselectedtag()">Submit</ion-button>

    </div>
    <div style="background: white; height:78vh">
      

      <form style="font-family: Inter;" [formGroup]="editorForm" (ngSubmit)="presentAlertMultipleButtons()">
        <div class="form-group">
          <label for="editor">
            <h5 style="text-align: center;">Edit Post</h5>
          </label>

          <ion-item>
            <ion-input placeholder="{{getTitle}"  [(ngModel)]="getTitle" [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>

          <ion-select [(ngModel)]="getSelectedSubject" [ngModelOptions]="{standalone: true}" multiple="true"  (ionChange)="getSelectedSubjectValue(getSelectedSubject)" [interfaceOptions]="customAlertOptions" interface="dropdown" placeholder="{{getSelectedSubject}}">
            <div *ngFor="let item of tags">
              <ion-select-option value={{item.tagid}}>{{item.tagid}}</ion-select-option>
            </div>
          </ion-select>

          <quill-editor [style]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)" formControlName="editor"></quill-editor>
          <span *ngIf="editorForm.get('editor').value != null">{{ 1000 - editorForm.get('editor').value.length }}</span>
        </div>
        
        <ion-button style="display: block; float:right; width: 40%; margin-top:10px; margin-right:10px" type="submit">Update</ion-button>
      </form>

      <h5 style="text-align: center; margin-top:50px">Preview</h5>
      <p [innerHTML]="editorContent"></p>
    </div>
    <div></div>   
  </div>
</div>
</ion-content>