<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>


  <ion-header id="pcheader" no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="green"></ion-back-button>
      </ion-buttons>
      
      <ion-title class="ion-text-center" style="color: rgb(30,30,30)">Edit</ion-title>
  
      <ion-buttons slot="primary" (click)="login()">
        <ion-button color="green">
          <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content style="--padding-top: 4px;  --padding:10px">
  <div id="innercontent">
    <div id="sidemenu" style="background: white; position: fixed; width:230px; height:100%; margin-top:-13px; border-right:1px solid rgb(240,240,240)">

      <div (click)="toHome()" id="currentmenuitem" style="margin-top: 12px;">
          <div id="gapicontext" style="">
              <div class="bx bx-home-circle" style="font-size: 19px;"></div>
                <div style="padding-top: 2px;">
                    Home
                </div>
              </div>
          </div>

          <div (click)="toSubmitpost()" id="menuitem" style="">
              <div id="gapicontext" style="color: rgb(120,120,120);">
                <div class="bx bx-upload" style="font-size: 19px;"></div>
                  <div style="padding-top: 2px; font-weight: 500;">
                      Uploads
                  </div>
              </div>
          </div>

          <div (click)="toFolder()" id="menuitem" style="">
              <div id="gapicontext" style="color: rgb(120,120,120);">
                <div class="bx bx-folder" style="font-size: 19px;"></div>
                  <div style="padding-top: 2px; font-weight: 500;">
                      Folders
                  </div>
              </div>
          </div>

          <div (click)="toActivity()" id="menuitem" style="">
            <div id="gapicontext" style="color: rgb(120,120,120);">
              <div class="bx bx-list-plus" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Tasks
                </div>
            </div>
        </div>

        <div (click)="toMessenger()" id="menuitem" style="">
          <div id="gapicontext" style="color: rgb(120,120,120);">
            <div class="bx bx-message-square-dots" style="font-size: 19px;"></div>
              <div style="padding-top: 2px; font-weight: 500;">
                  Messenger
              </div>
          </div>
      </div>

          <div (click)="toBroadcast()" id="menuitem" style="">
            <div id="gapicontext" style="color: rgb(120,120,120);">
              <div class="bx bx-bullseye" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Streams
                </div>
            </div>
          </div>


            
              
            
            

    </div>

  <div id="griditem2" style="display:grid;">
    <div>

      
      
      

      <!--
        
      -->
      

    </div>

    <ng-container *ngIf="noerror == true;else second">
      <div style="background: white; height:78vh; padding:0 20px">
      <form style="font-family: Inter;" [formGroup]="editorForm" (ngSubmit)="presentAlertMultipleButtons()">
        <ion-header id="mobileheader" no-border>
          <ion-toolbar>
              <ion-buttons slot="start">
                <!--
                  <ion-back-button color="green"></ion-back-button>
                -->
                <ion-button color="green" (click)="toBack()">
                  <i class="fas fa-chevron-left" style="font-size: 20px"></i>
                </ion-button>
              </ion-buttons>
              
              <ion-title class="ion-text-center" style="color: rgb(30,30,30)">Edit</ion-title>
          
              <ion-buttons slot="primary" >
                <ion-button color="green"  type="submit" style="width:60px;">
                  <i class="fas fa-paper-plane" style="font-size: 16px"></i>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <div class="form-group">
          <label for="editor">
            <h5 id="editpost" style="text-align: center;">Edit Post</h5>
          </label>
          

          <ion-item style="padding-block-start: 0px;">
            <ion-input placeholder="{{getTitle}"  [(ngModel)]="getTitle" [ngModelOptions]="{standalone: true}">
            </ion-input>
          </ion-item>
            
         
          

          
          <div style="clear:both; margin: 10px 0">
            <div *ngFor="let item of contoh">
              <ng-container *ngIf="item.selected == true;else second">
              <div (click)="changeselection(item.tagid)" style="cursor:pointer; background:rgb(51, 92, 230); padding:2px 8px 3px 8px; border-radius:6px; margin:4px 4px; float:left; font-size: 13px; letter-spacing: 0.01em; color:rgb(238, 238, 238); font-weight: 400; margin-bottom: 4px;">
                {{item.name}}
              </div>
              </ng-container>
              <ng-template #second>
                  <ng-container *ngIf="item.selected == false">
                    <div (click)="changeselection(item.tagid)" style="cursor:pointer; background:rgb(237,237,237); padding:2px 8px 3px 8px; border-radius:6px; margin:4px 4px; float:left; font-size: 13px; letter-spacing: 0.01em; color:rgb(93,93,93); font-weight: 400; margin-bottom: 4px;">
                      {{item.name}}
                    </div>
                  </ng-container>
              </ng-template>
            </div>
          </div>
          
          <!--
            <div>{{totalselected}}</div>

            <ion-button (click)="getselectedtag()">Submit</ion-button>

            <ion-select [(ngModel)]="getSelectedSubject" [ngModelOptions]="{standalone: true}" multiple="true"  (ionChange)="getSelectedSubjectValue(getSelectedSubject)" [interfaceOptions]="customAlertOptions" interface="dropdown" placeholder="{{getSelectedSubject}}">
              <div *ngFor="let item of tags">
                <ion-select-option value={{item.tagid}}>{{item.tagid}}</ion-select-option>
              </div>
            </ion-select>
          -->
          
          <div style="clear:both; padding: 10px 0">
            <quill-editor style="clear: both;" [style]="editorStyle" [modules]="config" (onContentChanged)="maxLength($event)" formControlName="editor"></quill-editor>
          </div>
          <!--
            <span style="font-size: 14px; color:rgb(150,150,150); float:right; padding-right:22px" *ngIf="editorForm.get('editor').value != null">{{ 1000 - editorForm.get('editor').value.length }}</span>
          -->
        </div>
        
        
          <ion-button id="formsubmit" type="submit">Update</ion-button>
        
      </form>

      <!--
        <h5 style="text-align: center; margin-top:50px">Preview</h5>
        <p [innerHTML]="editorContent"></p>
      -->
      
    </div>
    </ng-container>
    <ng-template #second>
      <ng-container *ngIf="noerror == false">
        <div style="display: grid; grid-template-columns: auto;">
          <div style="clear:both; margin-top:30px">
            <p style="color: rgb(120,120,120);font-size:80px; font-weight:700; text-align: center;line-height: 0px;">404</p>
            <p style="color: rgb(100,100,100);font-size:40px; font-weight:700; text-align: center;line-height: 0px;">Whoops!</p>
            <p style="color: rgb(80,80,80); font-size:20px; font-weight:500; display:block; margin:0 auto; text-align: center; word-wrap: break-word; width:330px">It seems like we couldn't find the page you were looking for</p>
          </div>
          <div style="text-align: center; margin-top:20px">
            <ion-button (click)="goback()" slot="center">Go back</ion-button>
          </div>
        </div>
        
      </ng-container>
    </ng-template>

    
    <div></div>   
  </div>
</div>
</ion-content>