/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

* {
  font-family: 'Inter var', sans-serif;
}


#menuitem{
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 500;
  clear: both;
  padding: 10px 12px;
  margin: 2px 0px;
  color: rgb(120,120,120);
  cursor: pointer;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;
  
  /*font-family: 'Inter';
  font-size: 13px;
  font-weight:300;
  clear: both;
  padding: 12px 12px;
  color: rgba(255,255,255,0.75);
  cursor: pointer;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;*/
}
#menuitem:hover{
  background:rgb(251,251,251);
  //background:rgb(251,251,251);
}

#currentmenuitem{
  font-family: 'Inter';
  font-size: 12px;
  font-weight: 600;
  clear: both;
  padding: 10px 12px;
  margin: 2px 0px;
  color: var(--currentmenucolor);
  cursor: pointer;
  //background:#e8f0fe;
  //background: #f4f5f7;
  //background: rgb(234,234,234);
  background: rgb(248,248,248);
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;
  /*font-family: 'Inter';
  font-size: 13px;
  font-weight: 300;
  clear: both;
  padding: 12px 12px;
  color: rgba(255,255,255,0.95);
  cursor: pointer;
  //background:#e8f0fe;
  background: #161d2e;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;*/
}
#currentmenuitem:hover{
  cursor: pointer;
  //cursor: pointer;
}

#gapicontext{
  display: grid;
  grid-template-columns: 34px auto;
}

#sidemenu{
  @media (max-width: 576px) {
    display: none;
  }
}

#roomlist{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  @media (max-width: 576px) {
    display: grid;
    grid-template-columns: 100%;
  }
}

:root{
  //main layout
  //--sidemenubg: #d7dce6;//--sidemenubg: #ffffff;//--sidemenubg: #f6fafb;
  //--currentmenucolor: #4b7fda;
  //--toolbarbg: #333556;//--toolbarbg: #5c5c8e;
  //--searchbg: rgba(255,255,255,0.2);
  //--searchph: rgba(255,255,255,0.5);
  //--logocolor: rgba(255,255,255,1);

  //white layout
  //--sidemenubg: #f4f5f7;
  --sidemenubg: #f8f8f8;
  --sidemenuwidth: 230px;
  --currentmenucolor: rgb(40,40,40);
  //--contentbg: #f7f7f7;
  //--contentbg:#ffffff;
  //--contentbg:rgb(248,248,248);
  --contentbf: white;
  --toolbarbg: #ffffff;
  --toolbarheight: 59px;
  --searchbg: rgb(244,244,244);
  --searchph: rgb(170,170,170);
  --logocolor: rgb(70,70,70);
  
  //dark white layout
  /*--sidemenubg: #252f3f;
  --sidemenuwidth: 210px;
  --menucolor: #f1f2f3;
  --contentbg: #f7f7f7;
  --toolbarbg: #ffffff;
  --toolbarheight: 59px;
  --searchbg: rgb(244,244,244);
  --searchph: rgb(170,170,170);
  --logocolor: rgb(70,70,70);*/
}