#listitem{
    width:70%;
    border-radius: 0px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#listitem2{
    width:100%;
    border-radius: 0px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#griditem2{
    grid-template-columns: 244px auto 0px;  
    //grid-template-columns: 244px auto 0;
    //grid-template-columns: auto 70% auto;
  
    @media (max-width: 576px) {
        grid-template-columns: auto 100% auto;
    }
  }

  #sidemenu{
    @media (max-width: 576px) {
      display: none;
    }
  }

  #twocolumn{
    grid-template-columns: 84px auto;
    padding:10px 40px 40px 0;

    @media (max-width: 576px) {
      padding:10px 20px 40px 20px;
      grid-template-columns: auto;
    }
  }

  #votecolumn{
    @media (max-width: 576px) {
      display: none;
    }
  }
  
  #innercontent{
    padding: 0 14px 0 0;
  
    @media (max-width: 576px) {
      padding: 0;
    }
  }

  #itemtitle{
    font-size: 26px;
    font-weight: 400;
    
    @media (max-width: 576px) {
      font-size: 20px;
      font-weight: 600;
    }
  }

#textcmt{
    font-size: 13px;
    letter-spacing: -0.0025em;

    @media (max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0em; 
    }
}

#tinydot{
    padding-top: 4.5px;

    @media (max-width: 576px) {
        padding-top: 5.5px;
    }
}






/* styles for '...' */ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: 0em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }



  #menuitem{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 510;
    clear: both;
    padding: 12px 24px;
    color: rgb(100,100,100);
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    margin-right: 8px;
  }
  #menuitem:hover{
    background:rgb(247,247,247);
  }
  
  #currentmenuitem{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 700;
    clear: both;
    padding: 12px 24px;
    color: #4b7fda;
    cursor: pointer;
    //background:#e8f0fe;
    background: rgb(246,246,246);
    border-radius: 0 4px 4px 0;
    margin-right: 8px;
  }
  #currentmenuitem:hover{
    cursor: pointer;
  }
  
  #gapicontext{
    display: grid;
    grid-template-columns: 34px auto;
  }


  ::ng-deep div#JSONContainer pre.ql-syntax {
    background: #eff0f1;
    margin: 0;
    padding: 16px 16px;
    font-size: 13px;
    margin: 13px 0;
    border-radius: 4px;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }