<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
  
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:44px">
    <ion-tab-button (click)="toRoom()">
      <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toHome()">
      <div class="bx bxs-message-square-dots" style="font-size: 24px;color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toActivity()">
      <div class="bx bx-list-plus" style="font-size: 26px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div id="foldericon" class="bx bx-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toBookmark()">
      <div class="bx bx-bookmark" style="font-size: 23px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!--
  <ion-header no-border>
  <ion-toolbar style=" --min-height:var(--toolbarheight)">


    <ion-buttons slot="start">
      <ion-back-button color="green"></ion-back-button>
    </ion-buttons>
    
    <ion-title style="color: rgb(37, 156, 117)" text-center></ion-title>

    <ion-buttons slot="primary" (click)="login()">
      <ion-button color="green">
        <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->




<!--
  <ion-refresher pullMax="this.pullMin+20" style="margin-top: 80px;" slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-round-down"
    pullingText=""
    refreshingSpinner="circles"
    refreshingText="">
  </ion-refresher-content>
</ion-refresher>
-->
<ion-content style="--background:rgb(246,246,246);--padding-top: 4px;  --padding:10px">
  <div id="innercontent" style="margin-top:10px">
    <app-ahello [currpage]="active" [currsession]="session"></app-ahello>

    <div id="griditem2" style="display:grid;">
      <div></div>
      <div>
        <div>
          <ng-template #recursiveList let-listoso>
            <div *ngFor="let item of listoso">
              <div id="listitem2" style=" background:white; display:block; margin-left: auto;">
                <ion-label style="">
                  
                  <div id="twocolumn" style="display: grid">
                    <div id="votecolumn">
                      <div id="textcmt" style="font-weight: 560; font-size: 12px; letter-spacing: 0em; color:rgb(140,140,140); margin-bottom:2px; padding:0;">
                        <div style="clear: both; text-align: center;">
                            <i class="fas fa-caret-up" style="font-size: 30px; color:rgb(184,184,184);"></i>
                        </div>
                        <div style="clear: both;">
                          <p style="font-size: 18px; font-weight: 400; text-align: center;margin-top: 4px;">
                            <!--
                              {{item.vote}}
                            -->
                            9000
                          </p>
                        </div>
                        <div style="clear: both; text-align: center;">
                          <i class="fas fa-caret-down" style="font-size: 30px; color:rgb(184,184,184);"></i>
                        </div>
                      </div>   
                    </div>
                    <div>
                      <div *ngIf="item.replyto == null">
                        <p id="itemtitle" style="line-height:140%; margin: 12px 0 10px 0; letter-spacing: -0.011em; color:hsl(24,24%,11%); padding:0; ">
                          {{item.title}}
                        </p>
                      </div>
                    
                      <div style="font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 500; float:left; margin-right:4px; margin-bottom: 20px;">
                        {{item.username}}
                      </div>
                      <i id="tinydot" class="fas fa-circle" style="float:left; font-size: 3px; color:rgb(140,140,140); margin-right:4px; "></i>
                      <div style="float:left; margin-right: 4px; font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 400; margin-bottom: 4px;">
                        {{item.dateuploaded}}
                      </div>
                    
                      <div *ngFor="let tagcomment of tagcomments">
                        <div *ngIf="tagcomment.comment_id==item.commentid" style="background:rgb(237,237,237); padding:1px 6px 3px 6px; border-radius:4px; margin:0 2px; float:left; font-size: 10px; letter-spacing: 0.01em; color:rgb(93,93,93); font-weight: 400; margin-bottom: 4px;">
                          {{tagcomment.tag_tagname}}
                        </div>
                      </div>
                      
                      <div style="clear:both; border-top:1px solid rgb(244,244,244); margin-bottom: 18px;"></div>

                      <div id="JSONContainer" style="padding: 0 4px;">
                        <p [innerHTML]="item.textcmt"></p>
                      </div>

                      

                    </div>
                  </div>
                  
                    
      
                    
                    <!--
                      <p class="block-with-text" style="color:rgb(30,30,30); margin-bottom:7px; padding:0;">
                        {{item.textcmt | striphtml}}
                      </p>
                    -->
                      
                    
                      
                  
                      
                </ion-label>
                </div>
                
                <div *ngIf="item.replyto == null" style="font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 500; margin:18px 0px 8px 10px;">
                  ALL COMMENTS v
                </div>

                <div *ngIf="item.children.length > 0">  <!-- item.subnodes.length -->
                  <div *ngIf="item.replyto != item.thread" style="width: 100%; display:block; margin-left: auto;">
                    
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                  </div>
                  <div *ngIf="item.replyto == item.thread" style="width: 94%; display:block; margin-left: auto;">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                  </div>

                </div>
              </div>
            </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: listoso }"></ng-container>
        </div>
      </div>
      <div></div>   
    </div>
    
  
  
    
  
  
  
  </div>
  


  



 
  
  <!--
    <ion-infinite-scroll (ionInfinite)="loadData($event)" style="margin-top: 30px;">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->
  

</ion-content>