<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">

  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>


<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:42px">
    <ion-tab-button (click)="toHome()">
      <div class="fas fa-home" style="font-size: 24px; color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toSubmitpost()">
      <div class="fas fa-plus-square" style="font-size: 24px; color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div class="fas fa-folder" style="font-size: 24px; color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toAdmin_user()">
      <div class="fas fa-user" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toAdmin_doc()">
      <div class="fas fa-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


  <ion-header no-border>
  <ion-toolbar id="toolbarborder">
    <div id="searchnav" style="display: grid;">
      
      <div>
        <div id="headertitle" style="padding: 7px 0 0 26px">
          <div class="fas fa-book" style="font-size: 16px; color:rgb(29, 161, 242); padding-top: 3px;"></div>
          <ion-title class="ion-text-left" style="color: rgb(29, 161, 242); font-family: Inter; font-weight: 800px; font-size: 18px;">Edushare</ion-title>
        </div>
        
      </div>

      <div>
        <div style="background: rgb(246,246,246); border-radius: 6px; min-width:284px; max-width:760px; height:100%; display:block; margin:0 auto 0 0; display:block;">
          <div style="display: grid; grid-template-columns: 26px auto; padding: 0px 0 0 16px;">
            <!--
              <div style="font-family: Inter; font-size: 13px; color:rgb(150,150,150)">Search</div>
            -->
            <div class="fas fa-search" style="font-size: 14px; color:rgb(180,180,180); padding-top: 9px;"></div>
            <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:13px;padding-top: 8px; font-family:Inter;color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search for posts, documents, streams etc">
            
            
          </div>
          
        </div>
      </div>

      <!--
        <div></div>

      <div id="displayname" style="grid-template-rows: 1fr auto 1fr;">
        <div></div>
        <div style="display: grid; grid-template-columns: 36px 120px 36px; height: 30px;">
          <div style="display: grid; grid-template-rows: 1fr auto 1fr;">
            <div></div>
            <div>
              <img src="https://pbs.twimg.com/profile_images/1182841677687377920/Uaf25dwZ_400x400.jpg" style="height:22px; display: block; border-radius: 100%;">
            </div>
            <div></div>
          </div>
          <div style="display: grid; grid-template-rows: 1fr auto 1fr;">
            <div></div>
            <div style="font-family: Inter; font-size: 13px; color: rgb(30,30,30);">
              Muhammad Hafiz
            </div>
            <div></div>
          </div>
          <div style="display: grid; grid-template-rows: 1fr auto 1fr;">
            <div></div>
            <div>
              <div class="bx bx-chevron-down" style="font-size: 19px;"></div>
            </div>
            <div></div>
          </div>
          
        </div>
        
        <div></div>
      </div>
      -->
 

      <div>
        <ion-buttons slot="primary" (click)="login()">
          <ion-button color="green">
            <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
          </ion-button>
        </ion-buttons>
      </div>

    </div>
  </ion-toolbar>
  <div id="topnav">
    <div></div>
    <div>
      <div style="display:grid; grid-template-columns: 33.33% 33.33% 33.33%; font-size: 14.5px; text-align: center;margin:11px 0 11px 0; font-weight: 600;">
        <div style="color:rgb(160,160,160);">
          News
        </div>
        <div style="color:rgb(50,50,50);">
          Home
        </div>
        <div style="color:rgb(160,160,160)">
          Popular
        </div>
        </div>
        <div style="display:grid; grid-template-columns: 33.33% 33.33% 33.33%; background: white; height:2px; border-bottom: 1px solid rgb(240,240,240)">
          <div>
          </div>
          <div>
            <div style="background: rgb(29, 161, 242); width:50%; height:100%; margin:0 auto"></div>
          </div>
          <div>
          </div>
        </div>
    </div>
  </div>
  
</ion-header>





<!--
  <ion-refresher pullMax="this.pullMin+20" style="margin-top: 80px;" slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-round-down"
    pullingText=""
    refreshingSpinner="circles"
    refreshingText="">
  </ion-refresher-content>
</ion-refresher>
-->


<ion-content (click)="clickcontent()" style="--background:rgb(246, 246, 246);--padding-top: 4px;  --padding:10px">
  <div id="innercontent" style="margin-top: 9px;">
    <div id="sidemenu" style="background: white; position: fixed; width:230px; height:100%; margin-top:-13px; border-right:1px solid rgb(240,240,240)">

      <div (click)="toHome()" id="currentmenuitem" style="margin-top: 12px;">
          <div id="gapicontext" style="">
              <div class="bx bx-home-circle" style="font-size: 19px;"></div>
                <div style="padding-top: 2px;">
                    Home
                </div>
              </div>
          </div>

          <div (click)="toSubmitpost()" id="menuitem" style="">
              <div id="gapicontext" style="color: rgb(120,120,120);">
                <div class="bx bx-upload" style="font-size: 19px;"></div>
                  <div style="padding-top: 2px; font-weight: 500;">
                      Uploads
                  </div>
              </div>
          </div>

          <div (click)="toFolder()" id="menuitem" style="">
              <div id="gapicontext" style="color: rgb(120,120,120);">
                <div class="bx bx-folder" style="font-size: 19px;"></div>
                  <div style="padding-top: 2px; font-weight: 500;">
                      Folders
                  </div>
              </div>
          </div>

          <div (click)="toAdmin_user()" id="menuitem" style="">
            <div id="gapicontext" style="color: rgb(120,120,120);">
              <div class="bx bx-user" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Users
                </div>
            </div>
          </div>

          <div (click)="toAdmin_post()" id="menuitem" style="">
            <div id="gapicontext" style="color: rgb(120,120,120);">
              <div class="bx bx-outline" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Threads
                </div>
            </div>
          </div>

          <div (click)="toAdmin_doc()" id="menuitem" style="">
            <div id="gapicontext" style="color: rgb(120,120,120);">
              <div class="bx bx-dock-left" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Files
                </div>
            </div>
          </div>

          <div (click)="toStream()" id="menuitem" style="">
            <div id="gapicontext" style="">
              <div class="bx bx-bullseye" style="font-size: 19px;"></div>
                <div style="padding-top: 2px; font-weight: 500;">
                    Streams
                </div>
            </div>
          </div>


            <!--
              <div (click)="toMessenger()" id="menuitem" style="">
                <div id="gapicontext" style="">
                    <div class="fas fa-comment-alt" style="font-size: 17px; padding-left: 1px;"></div>
                    <div style="padding-top: 0px">
                        Messenger
                    </div>
                </div>
            </div>
            -->
            

    </div>
  
    

    <div id="griditem2" style="display:grid;">
      
    <div></div>
    <div>
      <div style="display: grid; grid-template-columns:160px auto 160px; margin: 6px 0 15px 14px; font-family: 'Inter var', sans-serif; font-size: 10.5px; font-weight: 700; color:rgb(150,150,150)">
        <div style="font-size: 14px; margin-left: 2px;">
          <div class="fas fa-globe-americas" style="margin-right:10px; float:left;"></div>
          <div style="font-size: 10.5px;">ALL CATEGORIES</div>
        </div>

        <div></div>

        <div style="cursor: pointer; position: relative;display: inline-block;">
          <div id="topposttoday" (click)="presstoppost()" style="height: 10px; float:right; margin-right: 20px;">
            <div class="fas fa-chart-line" style="font-size: 15px; float:left; margin-right:4px"></div>
            <div style="float:left; margin-right:4px">
              TOP {{topdatestring}}
            </div>
            <div class="fas fa-caret-down" style="font-size: 14px; float:left"></div>
          </div>
          <div *ngIf="toppostpressed == true">
            <div id="toppostsubcontainer">
              <div *ngIf="toppostpressed == true">
                <div *ngFor="let item of topdatearray">
                  <div *ngIf="item.selected == true">
                    <div id="toppostsub" style="background: rgb(246,246,246)" (click)="topsortedby(item.value)">{{item.menu}}</div>
                  </div>
                  <div *ngIf="item.selected == false">
                    <div id="toppostsub" (click)="topsortedby(item.value)">{{item.menu}}</div>
                  </div>
                </div>
              </div>
                
              
            </div>
          </div>
          
        </div>

        
      </div>
      <div>
        <ng-template #recursiveList let-listoso>
          <div *ngFor="let item of listoso">
            <div id="listitem2" style="padding:10px 20px;  display:block; margin-left: auto; border-bottom:1px solid rgb(236,236,236);" (click)="toThread(item.commentid)">
              <div style="display:grid; grid-template-columns: auto 26px 26px; height:20px; font-size: 11px;font-family: 'Inter var', sans-serif;">
                <div>
                  <div style="font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 500; float:left; margin-right:4px; margin-bottom: 4px;">
                    {{item.username}}
                  </div>
                  <div id="tinydot" class="fas fa-circle" style="float:left; font-size: 3px; color:rgb(140,140,140); margin-right:4px; "></div>
                  <div style="float:left; margin-right: 4px; font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 400; margin-bottom: 4px;">
                    {{item.dateuploaded}}
                  </div>
                  <div *ngFor="let tagcomment of tagcomments">
                    <div *ngIf="tagcomment.comment_id==item.commentid" style="background:rgb(243,243,243); padding:1px 5px 2px 5px; border-radius:4px; margin:0 2px; float:left; font-size: 10px; letter-spacing: 0.01em; color:rgb(110,110,110); font-weight: 400; margin-bottom: 4px;">
                      
                      {{tagcomment.tag_tagname}}
                      {{man(tagcomment.tag_tagname)}}
                    </div>
                  </div>
                </div>

                <div>
                  <div id="edit" class="fas fa-edit" (click)="toEdit(item.commentid, item.title, item.textcmt)" style="font-size: 14px;float: right;" alt="Edit post"></div>
                </div>

                <div>
                    <div id="trash" class="far fa-trash-alt" (click)="presentAlertMultipleButtons(item.commentid)" style="font-size: 14px;float: right;" alt="Delete post"></div>
                </div>
                
                
              </div>
              <ion-label style="font-family: 'Inter var', sans-serif;">
                
                
                
                  
                  <div style="width:0px; clear:both"></div>
                  
    
                  <!--
                    title color:hsl(24,24%,11%)
                  -->
                <p style="margin-bottom: 4px; font-family: 'Inter var', sans-serif; font-size: 14.5px; letter-spacing: -0.011em; color:rgb(60,60,60); padding:0; font-weight: 600">
                  {{item.title}}
                </p>
                <p class="block-with-text" style="color:rgb(120,120,120); margin-bottom:7px; padding:0;">
                  {{item.textcmt | striphtml}}
                </p>
                <div id="textcmt" style="font-weight: 400; font-size: 12px; letter-spacing: 0em; color:rgb(160,160,160);margin-top:16px; padding:0;">
                  <div style="display: grid; grid-template-columns: 14px 31px 12px 56px 31px 12px auto;">
                    <div class="fas fa-caret-up" style="font-size: 22px;"></div>
                    <div>
                      <p style="text-align: center;font-size: 12px;color:rgb(100,100,100);  margin-top:3px;">
                        {{item.vote}}
                      </p>
                    </div>
                    <div class="fas fa-caret-down" style="font-size: 22px;"></div>
                    <div></div>
                    <div>
                      <p style="text-align: center;font-size: 12px;color:rgb(100,100,100);  margin-top:3px;">
                        0
                      </p>
                    </div>
                    <div class="fas fa-comment" style="font-size: 13px; margin-top:6px; color:rgb(182,182,182);"></div>
                    <div></div>
                  </div>
                  
                  
                  <!--
                    <i class="fas fa-caret-up" style="float:left; font-size: 22px; color:rgb(140,140,140); margin-right: 8px;margin-top: 1px;"></i>
                    <p style="float:left; padding-top: 4px; font-size: 12px;">
                      {{item.vote}}
                    </p>
                    <i class="fas fa-caret-down" style="font-size: 22px; color:rgb(140,140,140);margin-left: 7px;"></i>
                  -->
                  
                </div>       
              </ion-label >
              </div>
              
              <div *ngIf="item.children.length > 0" style="width: 92%;  display:block; margin-left: auto; ">  <!-- item.subnodes.length -->
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </div>
            </div>
          </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: listoso }"></ng-container>
      </div>
    </div>
    <div></div>   
  </div>
  


  



</div>
      
      
 
  
  <!--
    <ion-infinite-scroll (ionInfinite)="loadData($event)" style="margin-top: 30px;">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->
  

</ion-content>