<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button menuClose color="tertiary">
          <div class="image-cropper">
            <img class="image" style="object-fit: cover;" height="28px" width="28px" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
          </div>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-title style="color: rgb(37, 156, 117)" text-center>Edushare</ion-title>

    <ion-buttons slot="primary" (click)="login()">
      <ion-button color="green">
        <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<!--
  <ion-refresher pullMax="this.pullMin+20" style="margin-top: 80px;" slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-round-down"
    pullingText=""
    refreshingSpinner="circles"
    refreshingText="">
  </ion-refresher-content>
</ion-refresher>
-->
<ion-content style="--background:hsl(24,20%,95%);--padding-top: 4px;  --padding:10px">
  

  <div style="margin-top:10px">
      
      <div *ngFor="let comment of comments; let i=index">
        <!--
          <img src="assets/svg/svg_icons/zip_color.svg" style="height: 22px; margin: 0 12px 0 0px;" />
        -->
        <div (click)="pass(i)" id="listitem" style="padding:10px 20px; background:white; display:block; margin:0 auto;  margin-bottom:8px">
          
          
          <ion-label style="font-family: 'Inter var', sans-serif;">

            <div style="font-size: 10px; letter-spacing: 0.01em; color:rgb(140,140,140); font-weight: 500; float:left; margin-right:4px; margin-bottom: 4px;">
              {{comment.username}}
            </div>
            <i id="tinydot" class="fas fa-circle" style="float:left; font-size: 3px; color:rgb(140,140,140); margin-right:4px; "></i>
            <div style="float:left; font-size: 10px; letter-spacing: 0.01em; color:rgb(140,140,140); font-weight: 400; margin-bottom: 4px;">
              {{comment.dateuploaded}}
            </div>
            
              <div *ngFor="let tagcomment of tagcomments">
              <div *ngIf="tagcomment.comment_id==comment.commentid" style="float:left; font-size: 10px; letter-spacing: 0.01em; color:rgb(140,140,140); font-weight: 400; margin-bottom: 4px;">
                {{tagcomment.tag_id}}
                
              </div>
              </div>

              
              <div>
                .
              </div>            
            
            


            <p style="margin-bottom: 4px; font-family: 'Inter var', sans-serif; font-size: 16px; letter-spacing: -0.011em; color:hsl(24,24%,11%); padding:0; font-weight: 600">
              {{comment.title}}
            </p>
            <p id="textcmt" style="color:rgb(30,30,30); margin-bottom:4px; padding:0;">
              {{comment.textcmt}}
            </p>
            
          </ion-label >
        </div>

        
      </div>
      
      
  </div>
  
  <!--
    <ion-infinite-scroll (ionInfinite)="loadData($event)" style="margin-top: 30px;">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  -->
  

</ion-content>