#listitem{
    width:70%;
    border-radius: 6px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#listitem2{
    width:100%;
    border-radius: 0px;
    //border-radius: 6px;

    @media (max-width: 576px) {
        width:100%;
        border-radius: 0px;  
    }
}

#griditem2{
    grid-template-columns: auto 100% auto;
    //grid-template-columns: auto 70% auto;

    @media (max-width: 576px) {
        grid-template-columns: auto 100% auto;
    }
}

#innercontent{
  padding: 0 14px;

  @media (max-width: 576px) {
    padding: 0;
  }
}

#textcmt{
    font-size: 13px;
    letter-spacing: -0.0025em; 

    @media (max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0em; 
    }
}

#tinydot{
    padding-top: 4.5px;

    @media (max-width: 576px) {
        padding-top: 5.5px;
    }
}




/* styles for '...' */ 
.block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: 0em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: white;
  }

  #edit{
    color:rgb(200,200,200);
  }

  #edit:hover{
    color:rgb(53, 53, 53);
    cursor: pointer;
  }

  #trash{
    color:rgb(200,200,200);
  }

  #trash:hover{
    color:#d91e18;
    cursor: pointer;
  }

  