<head>
  
</head>

<ion-tabs>
  <ion-tab-bar slot="bottom" style="height:44px">
    <ion-tab-button (click)="toRoom()">
      <div class="bx bx-home-circle" style="font-size: 25px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toHome()">
      <div class="bx bxs-message-square-dots" style="font-size: 24px;color:rgb(50,50,50)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toActivity()">
      <div class="bx bx-list-plus" style="font-size: 26px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toFolder()">
      <div id="foldericon" class="bx bx-folder" style="font-size: 24px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
    <ion-tab-button (click)="toBookmark()">
      <div class="bx bx-bookmark" style="font-size: 23px;color:rgb(160,160,160)"></div>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


  <ion-header no-border>
  <ion-toolbar id="toolbarborder" style="--background: var(--toolbarbg); --min-height:var(--toolbarheight)">
    <div id="searchnav" style="display: grid;">
      
      
      <div>
        <div id="headertitle" style="padding: 7px 0 0 26px; color:var(--logocolor);">
          
          <div>
            <img src="assets/svg/edusharelogo.svg" style="height:22px; margin-bottom: 0;" />
          </div>
          <!--
            <div class="fas fa-book" style="font-size: 16px; padding-top: 3px;"></div>
          <ion-title class="ion-text-left" style="font-weight: 800; font-size: 18px;">Edushare</ion-title>
          -->
          
        </div>

        <ion-buttons id="searchnavmsg" slot="primary" (click)="toSubmitpost()">
          <ion-button color="rgb(240,240,240)">
            <div class="bx bx-plus" style="font-size: 19px; "></div>
          </ion-button>
        </ion-buttons>
      </div>

      <div>
        <div style="background: var(--searchbg); border-radius: 6px; min-width:284px; max-width:760px; height:100%; display:block; margin:0 auto 0 0; display:block;">
          <div style="display: grid; grid-template-columns: 26px auto; padding: 0px 0 0 16px;">
            
            <div class="fas fa-search" style="font-size: 14px; color:var(--searchph); padding-top: 9px;"></div>
            <input id="inputsearch" (keydown)="onKeydown($event)" type="text" style="font-size:13px;padding-top: 8px;color:rgb(80,80,80);border: none; background: rgba(0,0,0,0); padding-bottom: 3px;" placeholder="Search for posts, documents, streams etc">
            
          </div>
          
        </div>
      </div>

      <div>
        <ion-buttons slot="primary" (click)="login()">
          <ion-button color="green">
            <i class="fas fa-sign-out-alt" style="font-size: 16px"></i>
          </ion-button>
        </ion-buttons>
      </div>

    </div>
  </ion-toolbar>

  </ion-header>

  


<ion-content #ioncontent (click)="clickcontent()" style="--background:var(--contentbg);--padding-top: 4px;  --padding:10px">
  <div id="innercontent" style="margin-top: 9px;">
    
    <app-ahello [currpage]="active" [currsession]="session"></app-ahello>

    <div id="griditem2" style="display:grid;">
      
    <div></div>
    <div>

      <!--row1-->
      <div style="display: grid; grid-template-columns:160px auto 160px; margin: 6px 0 15px 14px; font-size: 10.5px; font-weight: 700; color:rgb(150,150,150)">
        <div style="font-size: 14px; margin-left: 2px;">
          <div class="fas fa-globe-americas" style="margin-right:10px; float:left;"></div>
          <div style="font-size: 10.5px;">ALL CATEGORIES</div>
        </div>

        <div></div>

        <div style="cursor: pointer; position: relative;display: inline-block;">
          <div id="topposttoday" (click)="presstoppost()" style="height: 10px; float:right; margin-right: 20px;">
            <div class="fas fa-chart-line" style="font-size: 15px; float:left; margin-right:4px"></div>
            <div style="float:left; margin-right:4px">
              TOP {{topdatestring}}
            </div>
            <div class="fas fa-caret-down" style="font-size: 14px; float:left"></div>
          </div>
          <div *ngIf="toppostpressed == true">
            <div id="toppostsubcontainer">
              <div *ngIf="toppostpressed == true">
                <div *ngFor="let item of topdatearray">
                  <div *ngIf="item.selected == true">
                    <div id="toppostsub" style="background: rgb(246,246,246)" (click)="topsortedby(item.value)">{{item.menu}}</div>
                  </div>
                  <div *ngIf="item.selected == false">
                    <div id="toppostsub" (click)="topsortedby(item.value)">{{item.menu}}</div>
                  </div>
                </div>
              </div>
                
              
            </div>
          </div>
          
        </div>

        
      </div>
      
      <!--row 2-->
      <div>
        <ng-template #recursiveList let-listoso>
          <div *ngFor="let item of listoso">
            <div id="listitem2" style="padding:10px 20px;  display:block; margin-left: auto; border-bottom:1px solid rgb(236,236,236);" (click)="toThread(item.commentid)">
             
              <div style="display:grid; grid-template-columns: auto 26px 26px; height:20px; font-size: 11px;">
                <div>
                  <div style="font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 500; float:left; margin-right:4px; margin-bottom: 4px;">
                    {{item.username}}
                  </div>
                  <div id="tinydot" class="fas fa-circle" style="float:left; font-size: 3px; color:rgb(140,140,140); margin-right:4px; "></div>
                  <div style="float:left; margin-right: 4px; font-size: 11px; letter-spacing: 0.005em; color:rgb(140,140,140); font-weight: 400; margin-bottom: 4px;">
                    {{item.dateuploaded}}
                  </div>
                  <div *ngFor="let tagcomment of tagcomments">
                    <div *ngIf="tagcomment.comment_id==item.commentid" style="background:rgb(243,243,243); padding:1px 5px 2px 5px; border-radius:4px; margin:0 2px; float:left; font-size: 10px; letter-spacing: 0.01em; color:rgb(110,110,110); font-weight: 400; margin-bottom: 4px;">
                      
                      {{tagcomment.tag_tagname}}
                      {{man(tagcomment.tag_tagname)}}
                    </div>
                  </div>
                </div>

                <div>
                  <div id="edit" class="fas fa-edit" (click)="toEdit(item.commentid, item.title, item.textcmt)" style="font-size: 14px;float: right;" alt="Edit post"></div>
                </div>

                <div>
                    <div id="trash" class="far fa-trash-alt" (click)="presentAlertMultipleButtons(item.commentid)" style="font-size: 14px;float: right;" alt="Delete post"></div>
                </div>
                
                
              </div>
              <ion-label style="">
                
                  <div style="width:0px; clear:both"></div>
                  
                <p style="margin-bottom: 4px; font-size: 14.5px; letter-spacing: -0.011em; color:rgb(60,60,60); padding:0; font-weight: 600">
                  {{item.title}}
                </p>
                <p class="block-with-text" style="color:rgb(120,120,120); margin-bottom:7px; padding:0;">
                  {{item.textcmt | striphtml}}
                </p>
                <div id="textcmt" style="font-weight: 400; font-size: 12px; letter-spacing: 0em; color:rgb(160,160,160);margin-top:16px; padding:0;">
                  <div style="display: grid; grid-template-columns: 14px 31px 12px 56px 31px 12px auto;">
                    <div class="fas fa-caret-up" style="font-size: 22px;"></div>
                    <div>
                      <p style="text-align: center;font-size: 12px;color:rgb(100,100,100);  margin-top:3px;">
                        {{item.vote}}
                      </p>
                    </div>
                    <div class="fas fa-caret-down" style="font-size: 22px;"></div>
                    <div></div>
                    <div>
                      <p style="text-align: center;font-size: 12px;color:rgb(100,100,100);  margin-top:3px;">
                        0
                      </p>
                    </div>
                    <div class="fas fa-comment" style="font-size: 13px; margin-top:6px; color:rgb(182,182,182);"></div>
                    <div></div>
                  </div>
                  
                </div>       
              </ion-label >
              </div>
              
              <div *ngIf="item.children.length > 0" style="width: 92%;  display:block; margin-left: auto; ">  <!-- item.subnodes.length -->
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
              </div>
            </div>
          </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: listoso }"></ng-container>
      </div>
    </div>
    <div></div>   
  </div>
  
</div>
    
</ion-content>