<!--
  <ion-content>
  <p>lollololololololololololololololololololololol</p>
  </ion-content>
  <ion-menu side="start" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item id="haha">haha</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
</head>

<ion-header>
      <ion-toolbar>
        <ion-title text-center>Stations</ion-title>
        <ion-buttons slot="primary" (click)="addCustomer()">
          <ion-button color="tertiary">
            <ion-icon text-center name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>
    
<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content" style="min-width: 210px; max-width: 210px;">

    
    <ion-list style="margin-top: 64px;">

      <ion-item (click)="home()"><i class="fas fa-home" style="margin-left: 4px; font-size:1.1em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 0.85em;  font-family: 'Nunito Sans', sans-serif">
          Home
        </span>
      </ion-item>

      <ion-item (click)="customer()"><i class="fas fa-cloud-upload-alt" style="margin-left: 4px; font-size:1.0em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 0.85em; font-family: 'Nunito Sans', sans-serif">
          My uploads
        </span>
      </ion-item>

      <ion-item (click)="loginform()"><i class="fas fa-sign-out-alt" style="margin-left: 6px; font-size:1.2em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px; font-size: 0.85em; font-family: 'Nunito Sans', sans-serif">
          Sign out
        </span>
      </ion-item>
    </ion-list>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="menu-content">

    
    <ion-content style="--padding-top: 70px; --padding-start: 10px; --padding-end: 10px; --padding:10px">
      <div *ngIf="!isSelected">
        <h2>Select image and upload</h2>
        <input
          type="file"
          (change)="selectFileToUpload($event)">
    </div>

    

    <div *ngIf="isSelected">
      <button
          ion-button
          color="primary"
          (click)="uploadFile()">Upload</button>

      <img [src]="image">
    </div>
    
      <ion-searchbar></ion-searchbar>
      <ion-list>
        <ion-item-sliding *ngFor="let hik of hiks">
          <ion-item>
            
            <!--<div class="row">
              <div class="column">
                <img src="img_snow.jpg" alt="Snow" style="width:100%">
              </div>
              <div class="column" style="width: 60%;">
                <p>lol</p><p>lel</p>
              </div>
              <div class="column">
                <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
              </div>
            </div>-->
            
            <img src="assets/svg/svg_icons/images_color.svg" style="height: 22px; margin: 0 12px 0 4px;" />
            <ion-label style="font-family: 'Nunito Sans', sans-serif;">
              <!--
                <a href="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}">
                {{hik.name}}
              </a>
              -->
              <p style="font-size: 16px;color:black; margin:0; padding:0; ">
                {{hik.name}}
              </p>
              <p style="font-size: 13px; color:rgb(100,100,100); margin:0; padding:0;">
                30 Jan 2020
              </p>
              
            </ion-label>
          
           
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      
      
          

        
<!--
        <a href="http://192.168.0.137/rapidkl/upload_api/uploads/1579881407292.pdf" download>Download</a>
  <ion-list>
          <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
            <ion-item style="--padding-end: 14px">
              <ion-label>{{customer.name_customer}}</ion-label>
            </ion-item>
      
            <ion-item-options side="end">
              <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
            
              <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      -->
      
    
      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-content>
  </ion-router-outlet>
</ion-split-pane>



<!--
  <ion-header>
  <ion-toolbar>
    <ion-title text-center>Stations</ion-title>
    <ion-buttons slot="primary" (click)="addCustomer()">
      <ion-button color="tertiary">
        <ion-icon text-center name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
      <ion-item>
        <ion-label>{{customer.name_customer}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
      
        <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" (click)="toHome()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->