<!--
  <ion-content>
  <p>lollololololololololololololololololololololol</p>
  </ion-content>
  <ion-menu side="start" menuId="first">
    <ion-content>
      <ion-list>
        <ion-item id="haha">haha</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
-->
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>


    
<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content" style="min-width: 210px; max-width: 210px; --background: white">
    <ion-list>

      <ion-item style="--background: white">
        <ion-label>
          <p style="margin-top: 18px;">
            <ion-menu-toggle>
              <ion-icon name="md-close" style="font-size:1.9em; color:rgb(170,170,170)"></ion-icon>
            </ion-menu-toggle>
            
          </p>
          <p style="text-align: center; margin-top: 0px;">
            <ion-menu-toggle>
              <div class="image-cropper" style="width: 74px; height: 74px; display: block; margin: 0 auto;">
                <img class="image" height="74px" width="74px" style="object-fit: cover; display: block; margin: 0 auto;" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
              </div>
          </ion-menu-toggle>
          </p>
          <p *ngFor="let user of users" style="text-align:center;font-size: 1.05em; font-weight: 700; margin-left: 2px; margin-top:10px; color:black; font-family: 'Nunito Sans', sans-serif">
            {{user.username}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item (click)="home()" style="--background: white"><i class="fas fa-home" style="margin-left: 4px; font-size:1.1em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em;  font-family: 'Nunito Sans', sans-serif">
          Home
        </span>
      </ion-item>

      <ion-item (click)="customer()" style="--background: white"><i class="fas fa-cloud-upload-alt" style="margin-left: 4px; font-size:1.0em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px;  font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          My uploads
        </span>
      </ion-item>

      <ion-item (click)="loginform()" style="--background: white;"><i class="fas fa-sign-out-alt" style="margin-left: 6px; font-size:1.2em; color:rgb(30,30,30)"></i>
        <span style="margin-left: 16px; font-size: 1em; font-family: 'Nunito Sans', sans-serif">
          Sign out
        </span>
      </ion-item>
    </ion-list>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="menu-content">
    
  
    <!--
      <div *ngIf="!isSelected">
        <input type="file" (change)="selectFileToUpload($event)" style="position: sticky; bottom:0;">
    </div>
    -->

    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button menuClose color="tertiary">
              <div class="image-cropper">
                <img class="image" style="object-fit: cover;" height="28px" width="28px" src="https://cdn0-production-images-kly.akamaized.net/RqAbEaFbTq3_lSGzyGLwUKJ7mLc=/640x360/smart/filters:quality(75):strip_icc():format(jpeg)/kly-media-production/medias/3006266/original/009046400_1577386107-Chelsea_Vs_Southampton_07.jpg">
              </div>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>

        <ion-title style="color: rgb(37, 156, 117)" text-center>Edushare</ion-title>

        <ion-buttons slot="primary" (click)="addCustomer()">
          <ion-button color="tertiary">
            <ion-icon text-center name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

    <ion-content *ngIf="isSelected" style="--padding-top: 4px; --padding-start: 4px; --padding-end: 16px; --padding:10px">
      <a (click)="cancel()">Cancel</a>
      <ion-button color="primary" (click)="uploadFile()">Upload</ion-button>
      <img [src]="image" style="height: 60px; width: 60px;">
    </ion-content>


    

    <ion-content *ngIf="!isSelected" style="--padding-top: 4px; --padding-start: 4px; --padding-end: 16px; --padding:10px">
      <ion-refresher pullMax="this.pullMin+20" style="margin-top: 80px;" slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-round-down"
        pullingText=""
        refreshingSpinner="circles"
        refreshingText="">
      </ion-refresher-content>
    </ion-refresher>

    

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button style="--background:rgb(37, 156, 117); display:block; height:68px; width:68px; padding-right: 10px; padding-bottom: 10px; margin-bottom: 64px;">
        <label for="input">
          <ion-icon style="padding-top:3px;font-size:28px" name="add"></ion-icon>
        </label>
        <input id="input" type="file" class="hideInput" (change)="selectFileToUpload($event)">
      </ion-fab-button>
    </ion-fab>

    <!--
      <ion-searchbar></ion-searchbar>
    -->
      
      <ion-list>
        <ion-item-sliding (click)="showFile(hik.id)" *ngFor="let hik of hiks">
          <ion-item>
            
            <!--<div class="row">
              <div class="column">
                <img src="img_snow.jpg" alt="Snow" style="width:100%">
              </div>
              <div class="column" style="width: 60%;">
                <p>lol</p><p>lel</p>
              </div>
              <div class="column">
                <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
              </div>
            </div>-->
            
            <img src="assets/svg/svg_icons/{{hik.icon}}_color.svg" style="height: 22px; margin: 0 12px 0 4px;" />
            <ion-label  style="font-family: 'Nunito Sans', sans-serif;">
              <!--
                <a href="http://192.168.0.137/rapidkl/rapid/upload_api/uploads/{{hik.name}}">
                {{hik.name}}
              </a>
              -->
              <p style="font-size: 15px;color:black; margin:0; padding:0; ">
                {{hik.name}}
              </p>
              <p style="font-size: 12px; color:rgb(100,100,100); margin:0; padding:0;">
                30 Jan 2020
              </p>
              
            </ion-label>
          
           
          </ion-item>
        </ion-item-sliding>
      </ion-list>
      
      
          

        
<!--
        <a href="http://192.168.0.137/rapidkl/upload_api/uploads/1579881407292.pdf" download>Download</a>
  <ion-list>
          <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
            <ion-item style="--padding-end: 14px">
              <ion-label>{{customer.name_customer}}</ion-label>
            </ion-item>
      
            <ion-item-options side="end">
              <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
            
              <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      -->
      
    
      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-content>
  </ion-router-outlet>
</ion-split-pane>



<!--
  <ion-header>
  <ion-toolbar>
    <ion-title text-center>Stations</ion-title>
    <ion-buttons slot="primary" (click)="addCustomer()">
      <ion-button color="tertiary">
        <ion-icon text-center name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-round-down"
      pullingText=""
      refreshingSpinner="circles"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let customer of customers" (click)="showCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">
      <ion-item>
        <ion-label>{{customer.name_customer}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="updateCustomer(customer.customer_id, customer.name_customer, customer.desc_customer)">Update</ion-item-option>
      
        <ion-item-option color="danger" (click)="delCustomer(customer.customer_id)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Home" (click)="toHome()">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="call"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->